<template>
    <section class="banner">
        <div class="px-4 text-center main-wrapper">
            <h1 class="display-5 fw-bold">Easy Booking and Virtual Queuing</h1>
            <div class="col-lg-8 mx-auto">
                <h5 class="d-none d-md-block">With Beauty Professionals, Barbers and Salons</h5>
                <div class="search-content bg-white">
                    <search />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import search from '@/components/home/search.vue'

export default {
  name: 'banner',
  components: {
    search
  }
}
</script>