<template>
    <div>
        <!-- Booking made easy -->
        <section class="BME pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block text-center">
                            <h1>Booking made easy</h1>
                            <p class="text-14">You can email or text your stylist with any questions you may have about online booking, and what you should book.</p>
                            <!-- <div class="line-block">
                                <span class="bullet"><fa icon="leaf" /></span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row text-center px-3 px-sm-0">
                    <div class="col-lg-3 col-sm-6">
                        <div class="box">
                            <div class="content-box">
                                <h3 class="display-1 fw-9 m-0 mb-2">01</h3>
                                <p class="m-0">You can email or text your stylist with any questions you may have about online booking, and what you should book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box">
                            <div class="content-box">
                                <h3 class="display-1 fw-9 m-0 mb-2">02</h3>
                                <p class="m-0">You can see their availability and book 24 hours a day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box">
                            <div class="content-box">
                                <h3 class="display-1 fw-9 m-0 mb-2">03</h3>
                                <p class="m-0">When booking online for the first time, you may have a few questions. Its okay to contact your stylist, tell them what you want done, and ask what you should book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box">
                            <div class="content-box">
                                <h3 class="display-1 fw-9 m-0 mb-2">04</h3>
                                <p class="m-0">Never be afraid to be specific or wordy when booking your online appointment. Most stylists would prefer to be overly informed than to be under informed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Booking made easy -->

        <!-- Queue from anywhere -->
        <section class="QFA pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block text-center">
                            <h1>Queue from anywhere</h1>
                            <p class="text-14">Book your hair appointments well in advance to get the best times possible.</p>
                            <!-- <div class="line-block">
                                <span class="bullet"><fa icon="leaf" /></span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3 col-sm-6 p-3">
                        <div class="box setup-1">
                            <div class="icon mb-3">
                                <div class="">
                                    <img src="@/assets/images/icons/icon-4.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <p class="m-0">Book your hair appointments well in advance to get the best times possible.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-3">
                        <div class="box setup-2">
                            <div class="icon mb-3">
                                <div class="">
                                    <img src="@/assets/images/icons/icon-3.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <p class="m-0">Many salons will let you queue up to one day worth of appointments.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-3">
                        <div class="box setup-3">
                            <div class="icon mb-3">
                                <div class="">
                                    <img src="@/assets/images/icons/icon-2.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <p class="m-0">Being prepared for your hair appointment is just as important as the appointment itself.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-3">
                        <div class="box setup-4">
                            <div class="icon mb-3">
                                <div class="">
                                    <img src="@/assets/images/icons/icon-1.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <p class="m-0">it's best to have a clear image of what you would like done to your hair.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Queue from anywhere -->
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>