<template>
    <!-- Businesses -->
    <section class="businesses-Near-you">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-block text-center">
                        <h1 class="text-start text-md-center">
                            Businesses Near You
                            <span class="see-all-button">
                                <a href="#">See all <fa icon="long-arrow-alt-right" /></a>
                            </span>
                        </h1>
                        <!-- <div class="line-block">
                            <span class="bullet"><fa icon="leaf" /></span>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row flex">
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-9 p-3">
                    <img src="@/assets/images/business_logo/business.jpg" class="w-100" alt="" />
                    <div class="p-2">
                        <a href="#" class="text-black tdn"><h3 class="">What is Lorem Ipsum?</h3></a>
                        <p class="m-0">
                            <span>New York, NY</span>
                            <span class="px-2 text-secondary"><fa icon="location-arrow" class="fs-5" /> 20 mi</span>
                        </p>
                        <ul class="rates-icon">
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>
                            <li class="list-inline-item m-0">
                                <fa icon="star" />
                            </li>

                            <li class="list-inline-item m-0">
                                <fa icon="star-half-alt" />
                            </li>
                            <li class="list-inline-item text-muted">(20)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Businesses -->
</template>

<script>
export default {

}
</script>

<style>

</style>