<template>
    <!-- Deals -->
    <section class="deals-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-block text-center">
                        <h1 class="text-start text-md-center">
                            Deals in <fa icon="location-arrow" /> New York, NY
                            <span class="see-all-button">
                                <a href="#">See all <fa icon="long-arrow-alt-right" /></a>
                            </span>
                        </h1>
                        <!-- <div class="line-block">
                    <span class="bullet"><fa icon="leaf" /></span>
                </div> -->
                    </div>
                </div>
            </div>
            <div class="row flex">
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-1.jpg" alt="" class="img-fluid" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-2.jpg" alt="" class="img-fluid" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-3.jpg" alt="" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-4.jpg" alt="" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-5.jpg" alt="" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10">
                    <div class="deals-block">
                        <div class="deals-list">
                            <div class="thumb">
                                <img src="@/assets/images/deals/deal-6.jpg" alt="" />
                                <div class="mi-no">8325 mi</div>
                                <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                            </div>
                            <div class="content">
                                <h3 class="title">What is Lorem Ipsum?</h3>
                                <p>By Mehran Hair Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- End Deals -->
</template>

<script>
export default {

}
</script>

<style>

</style>