<template>
    <div>
        <!-- Desktop Search -->
        <div class="row d-none d-md-flex m-0">
            <div class="col-lg-5 col-md-5 mb-0">
                <div class="no-gutters  br-2">
                    <Multiselect class="form-control search-bar" 
                     v-model="categoriesConfig.value" v-bind="categoriesConfig" >
                        <template v-slot:options="{ option }">
                            <img class="character-option-icon" :src="option.icon"> {{ option.name }}
                        </template>
                    </Multiselect>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 mb-0">
                <div class="no-gutters br-2 row">
                    <div class="col-lg-8 col-md-8 mb-0 bg-white">
                        <input type="text" class="form-control location-bar" placeholder="Washington, DC">
                    </div>
                    <div class="col-lg-4 col-md-4 mb-0">
                        <button class="btn btn-search" >Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Search -->
        <div class="form row d-flex d-md-none">
            <div class="col-12 mb-0 bg-white">
                <div class="no-gutters bg-white br-2">
                    <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" class="form-control search-bar" placeholder="Service, Professional, Salon..">
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="search-modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-search">
                            <div class="form row">
                                <div class="col-lg-5 col-md-12 mb-0">
                                    <div class="form-group">
                                    <input type="text" class="form-control search-bar" placeholder="Service, Professional, Salon..">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12 mb-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control location-bar" placeholder="Washington, DC">
                                    </div>
                                </div>
                            </div>
                            <div class="autocomplete-dropdown open">
                                <h4 class="searches-title">Popular Searches</h4>
                                <ul class="autocomplete-items-list" role="listbox" style="max-height: 190px;">
                                    <li data-mdb-index="0" role="option" class="autocomplete-item">One</li>
                                    <li data-mdb-index="1" role="option" class="autocomplete-item">Two</li>
                                    <li data-mdb-index="2" role="option" class="autocomplete-item">Three</li>
                                    <li data-mdb-index="3" role="option" class="autocomplete-item">Four</li>
                                    <li data-mdb-index="4" role="option" class="autocomplete-item">Five</li>
                                    <li data-mdb-index="5" role="option" class="autocomplete-item">Six</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block search-button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from '@vueform/multiselect'
export default {
    components: {
        Multiselect
    },
    data() {
        return {
            categoriesConfig: {
                value: 'category',
                placeholder: 'Service, Professional, Salon..',
                filterResults: false,
                minChars: 1,
                resolveOnLoad: true,
                delay: 0,
                //loading:true,
                searchable: true,
                options: async (query) => {
                    return await this.fetchLanguages(query)
                }
            },
        }
    },
    methods: {
        fetchLanguages(value){
            console.log(value)
            return [{ value: {name:'Barber',icon:'icon.png'}, label: 'Barber' },{ value: {name:'Spa',icon:'icon.png'}, label: 'Spa' }]
        }
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style>
.multiselect{
    min-height: unset;
}
.multiselect-dropdown{
    bottom: -10px;
    left: calc(var(--ms-border-width, 1px)*-1 + -11px);
}
.multiselect-multiple-label, .multiselect-placeholder, .multiselect-single-label{
    padding-left: 35px;
}
</style>