<template>
    <!-- Services -->
    <section class="h-services">
        <div class="container">
            <div class="row d-none d-md-block">
                <div class="col-xs-12">
                    <div class="title-block text-center">
                        <h1>Explore Service Providers Near You</h1>
                        <!-- <div class="line-block">
                <span class="bullet"><fa icon="leaf" /></span>
                </div> -->
                    </div>
                </div>
            </div>

            <div class="row explore-services">
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/aesthetician.png" alt="Aesthetician" class="img-fluid" />
                    <h5>Aesthetician</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/barber.png" alt="Barber" class="img-fluid" />
                    <h5>Barber</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/tattoo-artist.png" alt="Tattoo artist" class="img-fluid" />
                    <h5>Tattoo artist</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/hair-colorist.png" alt="Hair colorist" class="img-fluid" />
                    <h5>Hair colorist</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/hairstylist.png" alt="Hairstylist" class="img-fluid" />
                    <h5>Hairstylist</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box">
                    <img src="@/assets/images/services/make-up-artist.png" alt="Make-up artist" class="img-fluid" />
                    <h5>Make-up artist</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box d-none d-md-block">
                    <img src="@/assets/images/services/massage-therapist.png" alt="Massage therapist" class="img-fluid" />
                    <h5>Massage</h5>
                </div>
                <div class="col-4 col-lg-3 col-md-3 text-center service-box d-none d-md-block">
                    <img src="@/assets/images/services/nail-technician.png" alt="Nail technician" class="img-fluid" />
                    <h5>Nail technician</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->
</template>

<script>
export default {
    name:'homeServices'
}
</script>