<template>
    <div class="results-cont">
        <h3>Businesses in Charlotte, NC</h3>
        <!-- Search Box -->
        <div class="result-box">
            <div class="salon-image">
                <img src="@/assets/images/business_logo/business.jpg" />
                <div class="price-tag">$ - $$</div>
                <div class="visit-arrow"><fa icon="arrow-right" /></div>
            </div>
            <div class="salon-detail">
                <h4 class="salon-name">Usman Hair Saloon</h4>
                <div class="salon-rating">
                    <ul class="rates-icon">
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>

                        <li class="list-inline-item m-0">
                            <fa icon="star-half-alt" />
                        </li>
                        <li class="list-inline-item text-muted">(0)</li>
                    </ul>
                </div>
                <div class="description">Barber | Hair Saloon | Hairstylist | Natural hair</div>
                <div class="opening-status">Open</div>
                <div class="salon-address">Charlotte, NC <fa icon="location-arrow" /> 1 mi</div>
                <div class="date-time">
                    <span class="est-date"><img src="@/assets/images/icons/calendar.png" /></span>
                    <span class="est-time">Est. wait time (50min) <img src="@/assets/images/icons/estm-time.png" /></span>
                </div>
            </div>
        </div>
        <!-- End Search Box -->
        <!-- Search Box -->
        <div class="result-box">
            <div class="salon-image">
                <img src="@/assets/images/business_logo/business.jpg" />
                <div class="price-tag">$ - $$</div>
                <div class="visit-arrow"><fa icon="arrow-right" /></div>
            </div>
            <div class="salon-detail">
                <h4 class="salon-name">Usman Hair Saloon</h4>
                <div class="salon-rating">
                    <ul class="rates-icon">
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>

                        <li class="list-inline-item m-0">
                            <fa icon="star-half-alt" />
                        </li>
                        <li class="list-inline-item text-muted">(0)</li>
                    </ul>
                </div>
                <div class="description">Barber | Hair Saloon | Hairstylist | Natural hair</div>
                <div class="opening-status">Open</div>
                <div class="salon-address">Charlotte, NC <fa icon="location-arrow" /> 1 mi</div>
                <div class="date-time">
                    <span class="est-date"><img src="@/assets/images/icons/calendar.png" /></span>
                    <span class="est-time">Est. wait time (50min) <img src="@/assets/images/icons/estm-time.png" /></span>
                </div>
            </div>
        </div>
        <!-- End Search Box -->
        <!-- Search Box -->
        <div class="result-box">
            <div class="salon-image">
                <img src="@/assets/images/business_logo/business.jpg" />
                <div class="price-tag">$ - $$</div>
                <div class="visit-arrow"><fa icon="arrow-right" /></div>
            </div>
            <div class="salon-detail">
                <h4 class="salon-name">Usman Hair Saloon</h4>
                <div class="salon-rating">
                    <ul class="rates-icon">
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>

                        <li class="list-inline-item m-0">
                            <fa icon="star-half-alt" />
                        </li>
                        <li class="list-inline-item text-muted">(0)</li>
                    </ul>
                </div>
                <div class="description">Barber | Hair Saloon | Hairstylist | Natural hair</div>
                <div class="opening-status">Open</div>
                <div class="salon-address">Charlotte, NC <fa icon="location-arrow" /> 1 mi</div>
                <div class="date-time">
                    <span class="est-date"><img src="@/assets/images/icons/calendar.png" /></span>
                    <span class="est-time">Est. wait time (50min) <img src="@/assets/images/icons/estm-time.png" /></span>
                </div>
            </div>
        </div>
        <!-- End Search Box -->
        <!-- Search Box -->
        <div class="result-box">
            <div class="salon-image">
                <img src="@/assets/images/business_logo/business.jpg" />
                <div class="price-tag">$ - $$</div>
                <div class="visit-arrow"><fa icon="arrow-right" /></div>
            </div>
            <div class="salon-detail">
                <h4 class="salon-name">Usman Hair Saloon</h4>
                <div class="salon-rating">
                    <ul class="rates-icon">
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>
                        <li class="list-inline-item m-0">
                            <fa icon="star" />
                        </li>

                        <li class="list-inline-item m-0">
                            <fa icon="star-half-alt" />
                        </li>
                        <li class="list-inline-item text-muted">(0)</li>
                    </ul>
                </div>
                <div class="description">Barber | Hair Saloon | Hairstylist | Natural hair</div>
                <div class="opening-status">Open</div>
                <div class="salon-address">Charlotte, NC <fa icon="location-arrow" /> 1 mi</div>
                <div class="date-time">
                    <span class="est-date"><img src="@/assets/images/icons/calendar.png" /></span>
                    <span class="est-time">Est. wait time (50min) <img src="@/assets/images/icons/estm-time.png" /></span>
                </div>
            </div>
        </div>
        <!-- End Search Box -->
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>