<template>
    <div class="filter-sidebar">
        <div class="filter-sidebar-title">
            <h3>Filters</h3>
        </div>
        <div class="dolar-sign">
            <span>$</span>
            <span>$$</span>
            <span>$$$</span>
            <span>$$$$</span>
        </div>
        <div class="filter-box">
            <h4 class="filter-title">Rating</h4>
            <ul class="results-rating">
                <li class="list-inline-item m-0">
                    <fa icon="star" />
                </li>
                <li class="list-inline-item m-0">
                    <fa icon="star" />
                </li>
                <li class="list-inline-item m-0">
                    <fa icon="star" />
                </li>
                <li class="list-inline-item m-0">
                    <fa icon="star" />
                </li>

                <li class="list-inline-item m-0">
                    <fa icon="star" />
                </li>
            </ul>
        </div>

        <div class="open-status"><img src="@/assets/images/icons/open.png" /> Open Now</div>
        <!-- filter Box -->
        <div class="filter-box">
            <h4 class="filter-title">Service Options</h4>
            <div class="filter-option">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                    <label class="form-check-label" for="flexRadioDefault1">
                        By appointment
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                    <label class="form-check-label" for="flexRadioDefault2">
                        Walk-in
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked />
                    <label class="form-check-label" for="flexRadioDefault3">
                        Queue
                    </label>
                </div>
            </div>
        </div>
        <!-- End filter Box -->
        <!-- filter Box -->
        <div class="filter-box">
            <h4 class="filter-title">Payment</h4>
            <div class="filter-option">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Payment1" />
                    <label class="form-check-label" for="Payment1">
                        Online payments
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Payment2" checked />
                    <label class="form-check-label" for="Payment2">
                        Cash
                    </label>
                </div>
            </div>
        </div>
        <!-- End filter Box -->
        <!-- filter Box -->
        <div class="filter-box">
            <h4 class="filter-title">Gender</h4>
            <div class="filter-option">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender1" checked />
                    <label class="form-check-label" for="Gender1">
                        Any
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender2" />
                    <label class="form-check-label" for="Gender2">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender3" />
                    <label class="form-check-label" for="Gender3">
                        Female
                    </label>
                </div>
            </div>
        </div>
        <!-- End filter Box -->

        <!-- filter Box -->
        <div class="filter-box">
            <h4 class="filter-title">Distance</h4>
            <div class="filter-option">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance1" />
                    <label class="form-check-label" for="distance1">10 Miles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance2" />
                    <label class="form-check-label" for="distance2">25 Miles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance3" />
                    <label class="form-check-label" for="distance3">50 Miles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance4" />
                    <label class="form-check-label" for="distance4">100 Miles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance5" />
                    <label class="form-check-label" for="distance5">200 Miles</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance6" />
                    <label class="form-check-label" for="distance6">500 Miles</label>
                </div>
            </div>
        </div>
        <!-- End filter Box -->

        <!-- filter Box -->
        <div class="filter-box">
            <h4 class="filter-title">Language</h4>
            <div class="filter-option">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="language1" />
                    <label class="form-check-label" for="language1">English</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="language2" />
                    <label class="form-check-label" for="language2">Spanish</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="language3" />
                    <label class="form-check-label" for="language3">French</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="language4" />
                    <label class="form-check-label" for="language4">Chinese</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="language5" />
                    <label class="form-check-label" for="language5">African</label>
                </div>
            </div>
        </div>
        <!-- End filter Box -->

        <!-- Filter Modal -->
        <div class="filter-modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="filter-sidebar">
                            <!-- <div class="filter-sidebar-title">
                                <h3>Filters</h3>
                            </div> -->
                            <div class="dolar-sign">
                                <span>$</span>
                                <span>$$</span>
                                <span>$$$</span>
                                <span>$$$$</span>
                            </div>
                            <div class="filter-box">
                                <h4 class="filter-title">Rating</h4>
                                <ul class="results-rating">
                                    <li class="list-inline-item m-0">
                                        <fa icon="star" />
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <fa icon="star" />
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <fa icon="star" />
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <fa icon="star" />
                                    </li>

                                    <li class="list-inline-item m-0">
                                        <fa icon="star" />
                                    </li>
                                </ul>
                            </div>

                            <div class="open-status"><img src="@/assets/images/icons/open.png" /> Open Now</div>
                            <!-- filter Box -->
                            <div class="filter-box">
                                <h4 class="filter-title">Service Options</h4>
                                <div class="filter-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            By appointment
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Walk-in
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked />
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Queue
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End filter Box -->
                            <!-- filter Box -->
                            <div class="filter-box">
                                <h4 class="filter-title">Payment</h4>
                                <div class="filter-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Payment1" />
                                        <label class="form-check-label" for="Payment1">
                                            Online payments
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Payment2" checked />
                                        <label class="form-check-label" for="Payment2">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End filter Box -->
                            <!-- filter Box -->
                            <div class="filter-box">
                                <h4 class="filter-title">Gender</h4>
                                <div class="filter-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender1" checked />
                                        <label class="form-check-label" for="Gender1">
                                            Any
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender2" />
                                        <label class="form-check-label" for="Gender2">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Gender3" />
                                        <label class="form-check-label" for="Gender3">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End filter Box -->

                            <!-- filter Box -->
                            <div class="filter-box">
                                <h4 class="filter-title">Distance</h4>
                                <div class="filter-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance1" />
                                        <label class="form-check-label" for="distance1">10 Miles</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance2" />
                                        <label class="form-check-label" for="distance2">25 Miles</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance3" />
                                        <label class="form-check-label" for="distance3">50 Miles</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance4" />
                                        <label class="form-check-label" for="distance4">100 Miles</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance5" />
                                        <label class="form-check-label" for="distance5">200 Miles</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="distance6" />
                                        <label class="form-check-label" for="distance6">500 Miles</label>
                                    </div>
                                </div>
                            </div>
                            <!-- End filter Box -->

                            <!-- filter Box -->
                            <div class="filter-box">
                                <h4 class="filter-title">Language</h4>
                                <div class="filter-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="language1" />
                                        <label class="form-check-label" for="language1">English</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="language2" />
                                        <label class="form-check-label" for="language2">Spanish</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="language3" />
                                        <label class="form-check-label" for="language3">French</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="language4" />
                                        <label class="form-check-label" for="language4">Chinese</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="language5" />
                                        <label class="form-check-label" for="language5">African</label>
                                    </div>
                                </div>
                            </div>
                            <!-- End filter Box -->
                        </div>
                        <!-- End filter sideba -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block search-button">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter Modal -->
    </div>
    <!-- End filter sideba -->
</template>

<script>
export default {

}
</script>

<style>

</style>