<template>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.8816100068852!2d-96.0045524847284!3d36.14509578008881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87da551856122831%3A0xfcbb87f98772852f!2sU.S.%20Rte%2066%2C%20United%20States!5e0!3m2!1sen!2s!4v1624742177577!5m2!1sen!2s"
        width="100%"
        height="650"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
    ></iframe>
</template>

<script>
export default {

}
</script>

<style>

</style>