<template>
    <div class="row">
        <div class="col-12 pb-3 px-4">
            <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-filter">Home<a href="#">&#x2716;</a></li>
                    <li class="breadcrumb-filter">Payment<a href="#">&#x2716;</a></li>
                </ol>
            </nav>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>