<template>

	<section class="search-bar-content py-5">
		<div class="container-fluid">
			<!-- <div class="px-4 text-center main-wrapper"> -->
				<div class="search-box px-4 text-center">
					<div class="form row d-flex d-md-none">
						<div class="col-12 mb-0 bg-white">
							<div class="no-gutters bg-white br-2">
								<input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" class="form-control search-bar" placeholder="Service, Professional, Salon.." />
							</div>
						</div>
					</div>

					<div class="row d-none d-md-flex">
						<!-- <button type="button" class="btn search-bar-button active"><img src="@/assets/images/icons/at-bs.png" class="img-fluid" />At Businesss</button>
						<button type="button" class="btn search-bar-button"><img src="@/assets/images/icons/hs-call.png"  class="img-fluid" />House Call</button>
						<div class="search-field form row d-none d-md-flex">
							<div class="col-lg-5 col-md-5 mb-0 bg-white">
								<div class="no-gutters br-2">
									<input type="text" class="form-control search-bar" placeholder="Service, Professional, Salon.." />
								</div>
							</div>
							<div class="col-lg-7 col-md-7 mb-0">
								<div class="no-gutters br-2 row">
									<div class="col-lg-8 col-md-8 mb-0 bg-white">
										<input type="text" class="form-control location-bar" placeholder="Washington, DC" />
									</div>
									<div class="col-lg-4 col-md-4 mb-0">
										<button class="btn btn-search">Search</button>
									</div>
								</div>
							</div>
						</div>
						<div class="dropdown">
							<button type="button" class="position-relative border-0 bg-transparent dropdown-toggle sort-by" data-bs-toggle="dropdown" aria-expanded="false">Sort by</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="#">Date</a></li>
								<li><a class="dropdown-item" href="#">Time</a></li>
							</ul>
						</div> -->



						<div class="col-lg-3 col-md-3">
							<button type="button" class="btn search-bar-button active"><img src="@/assets/images/icons/at-bs.png" class="img-fluid" />At Businesss</button>
							<button type="button" class="btn search-bar-button"><img src="@/assets/images/icons/hs-call.png"  class="img-fluid" />My Location</button>
						</div>
						<div class="col-lg-7 col-md-7 mb-0">
							<div class="search-field form row d-none d-md-flex">
								<div class="col-lg-5 col-md-5 mb-0 bg-white">
									<div class="no-gutters br-2">
										<input type="text" class="form-control search-bar" placeholder="Service, Professional, Salon.." />
									</div>
								</div>
								<div class="col-lg-7 col-md-7 mb-0">
									<div class="no-gutters br-2 row">
										<div class="col-lg-8 col-md-8 mb-0 bg-white">
											<input type="text" class="form-control location-bar" placeholder="Washington, DC" />
										</div>
										<div class="col-lg-4 col-md-4 mb-0">
											<button class="btn btn-search">Search</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 mb-0 float-end">
							<div class="dropdown">
								<button type="button" class="position-relative border-0 bg-transparent dropdown-toggle sort-by" data-bs-toggle="dropdown" aria-expanded="false">Sort by</button>
								<ul class="dropdown-menu dropdown-menu-end">
									<li><a class="dropdown-item" href="#">Date</a></li>
									<li><a class="dropdown-item" href="#">Time</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</section>

</template>

<script>
export default {

}
</script>

<style>

</style>