<template>
  <footer class="pt-4 pt-md-5 border-top pb-0">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md">
                <h4 class="text-light">About</h4>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">About Us</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Our Blog</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Terms of Services</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Privacy Policy</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Cookies Policy</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 class="text-light">Ondaq Help</h4>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Help & Support</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">FAQ's</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">How it works</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 class="text-light">Ondaq Business</h4>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Beauty Professionals</a></li>
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Healthcare Practitoners</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 class="text-light">How can we serve you?</h4>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-light text-decoration-none fw-light" href="#">Feedback</a></li>
                </ul>
            </div>
        </div>
        <div class="row ">
          <div class="col-12 py-2 center-footer">
          <p class="float-sm-end m-0">Language<a class="ms-4 link-light" href="#">English</a></p>
          <p class="m-0">
            <span class="me-4">Connect With Us:</span> 
            <a href="#" class="text-white me-4"><fa :icon="['fab','facebook-f']" /></a>
            <a href="#" class="text-white me-4"><fa :icon="['fab','twitter']" /></a>
            <a href="#" class="text-white me-4"><fa :icon="['fab','linkedin-in']" /></a>
            <a href="#" class="text-white me-4"><fa :icon="['fab','youtube']" /></a>
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col-12 py-2 text-center text-light footer-bottom">
          <p class="m-0">&copy; 2021 OnDaQ, Inc. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooter",
};
</script>