<template>
  <header class="container-fluid px-3 px-lg-5">
    <div class="d-flex d-md-none flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
        <a href="#" class="d-flex align-items-center col-4 mb-2 animated-arrow"  onclick="openNav()">
            <span></span>
        </a>
        <div class="col-4 justify-content-center text-center"><img src="@/assets/images/logo.png" alt="OnDaQ" class="img-fluid" /></div>
        <div class="col-4 text-end">
            <!-- <button type="button" class="btn btn-sm btn-ondaq-dark btn-open-app"><img src="@/assets/images/icons/add-user.png">Open App</button> -->
        </div>
    </div>

    <div class="d-md-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 d-none">
        <router-link to="/" class="d-flex align-items-center col-md-3 col-lg-4 mb-2 mb-md-0">
            <img src="@/assets/images/logo.png" alt="Logo" class="img-fluid" />
        </router-link>
        <ul class="nav col-12 col-md-5 col-lg-4 mb-2 justify-content-center mb-md-0 centered-nav ">
          <li><a href="#" class="nav-link px-2 mx-2 active">OnDaQ Business</a></li>
            <li><a href="#" class="nav-link px-2 mx-2">How it Works</a></li>
            <li><a href="#" class="nav-link px-2 mx-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 mx-2">Help?</a></li>
        </ul>

        <div class="col-md-4 text-end mb-md-0 mt-md-1">
            <button type="button" class="btn btn-login me-2" data-bs-toggle="modal" data-bs-target="#loginModal"><img src="@/assets/images/icons/user.png" class="img-fluid">Sign In</button>
            <button type="button" class="btn btn-signup" data-bs-toggle="modal" data-bs-target="#signupModal"><img src="@/assets/images/icons/add-user.png" class="img-fluid">Sign Up</button>

        <div class="float-end user-dropdown d-none">
            <button type="button" class="position-relative border-0 bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                <img alt="" src="@/assets/images/profile/Anne_Hathaway_Face.jpg" class="img-fluid small-profile-pic">
                <span class="online"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#"><fa icon="sign-out-alt" /> Logout</a></li>
          </ul>
        </div>
        <div class="float-end noti-dropdown d-none">
            <button type="button" class="position-relative border-0 bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                <fa :icon="['far','bell']" class="fs-5 m-0" />
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99</span>
            </button>
            <div class="dropdown-menu p-0">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">List group item heading</h6>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>And some small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">List group item heading</h6>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>And some small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">List group item heading</h6>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>And some small print.</small>
                    </a>
                </div>
            </div>
        </div>
        <a type="button" class="btn btn-signup px-3 me-3 d-none"><img src="@/assets/images/icons/plus.png" class="img-fluid m-0">List Your Business</a>
        </div>
    </div>


    <div class="mobile-menu">
      <div id="menuSidepanel" class="menu-sidebar">
        <div class="m-nav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <div class="login-menu">
            <a href="#">Sign In</a>
              <a href="#">Sign Up</a>
          </div>
          
          <a href="#">How it Works</a>
          <a href="#">Pricing</a>
          <a href="#">Pricing</a>
          <a href="#">Help?</a>
        </div>
      </div>
    </div>



    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"><img src="@/assets/images/logo-small.png" alt="OnDaQ Logo" class="img-fluid me-2" />Welcome back!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="login">
                      <div class="row">
                        <!-- <div class="col-xs-12 col-sm-6">
                          <div class="btn-group btn-block mt-2 mb-2">
                              <a class="btn btn-facebook active" href="#">
                                <span class="fa fa-facebook"></span>
                              </a>
                              <a class="btn btn-block btn-facebook" href="#" >LogIn with Facebook</a>
                          </div>
                          <div class="form-group">
                            <div class="submit-block text-center">
                              <button class="btn btn-primary btn-block">Sign In with Google</button>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-group">
                            <div class="submit-block text-center">
                              <button class="btn btn-primary btn-block">Sign In with Google</button>
                            </div>
                          </div>
                        </div> -->
                        <div class="col-12">
                          <img src="@/assets/images/img/social_signin.png" alt="Social Login" class="img-fluid">
                        </div>
                      </div>
                      <hr class="divider">
                      <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" :class="[v$.login_.email.$error ? 'border-danger': '']" name="email" v-model="login_.email" placeholder="abcd@domain.com">
                        <!-- <div v-if="v$.login_.email.$error && this.v$.login_.email.$errors[0].$validator == 'email'" class="form-error-msg-labeled">
                          <span v-if="this.v$.login_.email.$errors[0].$validator == 'email'">Invalid Email</span> 
                        </div> -->
                      </div>
                      <div class="form-group">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" :class="[v$.login_.password.$error ? 'border-danger': '']" name="password" v-model="login_.password" placeholder="Password">
                        <!-- <div v-if="v$.login_.password.$error" class="form-error-msg-labeled">
                          <small v-if="this.v$.login_.password.$errors[0].$validator == 'required'">Password is required</small>
                        </div> -->
                      </div>

                      <div class="row">
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="remember_me">
                            <label class="form-check-label" for="remember_me">Remember me</label>
                          </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                          <a data-bs-dismiss="modal" @click.prevent="openModal('#ForgotPasswordModal')" href="#" class="form-text float-end"><small>I forgot password</small></a>
                        </div>
                      </div>
                      <div class="d-grid gap-2 mt-3">
                        <input value="Login" name="submit" class="btn btn-common" type="submit">
                      </div>
                      <div class="text-center mt-3 text-dark text-14">Dont have account yet?</div>
                      <div class="d-grid gap-2 mt-3">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-dark" @click.prevent="openModal('#signupModal')">SignUp Now!</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
    <!-- End Login Modal -->
    
    <!-- Register Modal -->
    <div class="modal fade" id="signupModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel"><img src="@/assets/images/logo-small.png" alt="OnDaQ Logo" class="img-fluid me-2" />Let's Get You Started</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="signup">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" name="fname" v-model="signup_.f_name" placeholder="First Name" :class="[v$.signup_.f_name.$error ? 'border-danger': '']">
                            <!-- <div v-if="v$.signup_.f_name.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.f_name.$errors[0].$validator == 'required'">First name is required</span>
                            </div> -->
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lname" v-model="signup_.l_name" placeholder="Last Name" :class="[v$.signup_.l_name.$error ? 'border-danger': '']">
                            <!-- <div v-if="v$.signup_.l_name.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.l_name.$errors[0].$validator == 'required'">Last name is required</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" :class="[v$.signup_.email.$error ? 'border-danger': '']" name="remail" v-model="signup_.email" placeholder="Email">
                            <!-- <div v-if="v$.signup_.email.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.email.$errors[0].$validator == 'email'">Invalid Email</span> 
                              <span v-if="this.v$.signup_.email.$errors[0].$validator == 'required'">Email is required</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" :class="[v$.signup_.password.$error ? 'border-danger': '']" name="rpassword" v-model="signup_.password" placeholder="Password">
                            <!-- <div v-if="v$.signup_.password.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.password.$errors[0].$validator == 'required'">Password is required</span>
                            </div> -->
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" :class="[v$.signup_.c_password.$error ? 'border-danger': '']" name="cpassword" v-model="signup_.c_password" placeholder="Enter Password">
                            <div v-if="v$.signup_.c_password.$error && this.v$.signup_.c_password.$errors[0].$validator == 'sameAsPassword'" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.c_password.$errors[0].$validator == 'sameAsPassword'">Password don't match</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Gender</label>
                            <select class="form-select" :class="[v$.signup_.gender.$error ? 'border-danger': '']" v-model="signup_.gender">
                              <option value="">Choose your Gender</option>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                            </select>
                            <!-- <div v-if="v$.signup_.gender.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.gender.$errors[0].$validator == 'required'">Choose gender</span>
                            </div> -->
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Phone</label>
                            <vue-tel-input v-model="signup_.phone" :class="[v$.signup_.phone.$error ? 'border-danger': '']" :onlyCountries="['US','PK']" defaultCountry="US" v-mask="'(###) ### - ####'" :inputOptions="{type:'tel',placeholder:'(000) 000 - 0000'}" :dropdownOptions="{showDialCodeInList:true,showFlags:true,showDialCodeInSelection:true}" :autoFormat="false" mode="international"></vue-tel-input>
                            <!-- <div v-if="v$.signup_.phone.$error" class="form-error-msg-labeled">
                              <span v-if="this.v$.signup_.phone.$errors[0].$validator == 'required'">Phone number is required</span>
                            </div> -->
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 my-1">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="signup_.TandC" id="TermAndCond">
                            <label class="form-check-label" for="TermAndCond">I agree with the <a href="#">Terms and Privacy Policy</a></label>
                            <div v-if="v$.signup_.TandC.$error" class="form-error-msg">
                              <span v-if="this.v$.signup_.TandC.$errors[0].$validator == 'isTrue'">Terms is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-grid gap-2 mt-3">
                        <input value="Create My Account" name="submit" class="btn btn-common" type="submit">
                      </div>
                      <div class="text-center mt-3 text-dark text-14">Already have account? <a data-bs-dismiss="modal" href="#" @click.prevent="openModal('#loginModal')">LogIn Now!</a></div>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Register Modal -->
    
    <!-- Forgot Password Modal -->
    <div class="modal fade" id="ForgotPasswordModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ForgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ForgotPasswordModalLabel">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="resetPassword">
                      <div class="form-group">
                        <label class="form-label">Email address</label>
                        <input type="email" v-model="resetPass_.email"  class="form-control"  placeholder="abcd@domain.com">
                        <div v-if="v$.resetPass_.email.$error" class="form-error-msg-labeled">
                          <span v-if="this.v$.resetPass_.email.$errors[0].$validator == 'email'">Invalid Email</span> 
                          <span v-if="this.v$.resetPass_.email.$errors[0].$validator == 'required'">Email is required</span>
                        </div>
                      </div>

                      <div class="d-grid gap-2 mt-3">
                        <input value="Send Reset E-mail" name="submit" class="btn btn-common" type="submit">
                      </div>
                      <div class="text-center mt-3 text-dark text-14">Forget it, Send me back to the <a data-bs-dismiss="modal" @click.prevent="openModal('#loginModal')" href="#">Sign in</a>.</div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
    <!-- End Forgot Password Modal -->
  </header>
</template>

<script>
import {mask} from 'vue-the-mask'
import { VueTelInput } from 'vue-tel-input';
import 'vue-tel-input/dist/vue-tel-input.css';

import useVuelidate from '@vuelidate/core'
import { required, email, sameAs } from '@vuelidate/validators'
import $ from 'jquery'
import axios from 'axios'

const isTrue = (value) => value===false?false:true
export default {
  name: "TheHeader",
  setup () {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      login_:{
        email:'',
        password:''
      },
      signup_: {
        f_name: '',
        l_name: '',
        email: '',
        password: '',
        c_password:'',
        gender:'',
        phone:'',
        TandC:false
      },
      resetPass_:{
        email:''
      },
    }
  },
  validations () {
    return {
      login_: {
        email: { required },
        password: { required }
      },
      signup_: {
        f_name: { required },
        l_name: { required },
        email: { required, email },
        password: { required },
        c_password: { required, sameAsPassword:sameAs(this.signup_.password) },
        gender:{required},
        phone:{required},
        TandC:{isTrue}
      },
      resetPass_:{
        email:{ required, email }
      },
    }
  },
  components: {VueTelInput},
  directives: {mask},
  methods: {
    openModal(id){
      $(id).modal('show')
    },
    login(){
      this.v$.login_.$touch()
      if (!this.v$.login_.$error) {
          axios.post('login',this.login_).then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    signup(){
      this.v$.signup_.$touch()
      if (!this.v$.signup_.$error) {
          axios.post('signup',this.signup_).then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    resetPassword(){
      this.v$.resetPass_.$touch()
      if (!this.v$.resetPass_.$error) {
          axios.post('resetPassword',this.signup_).then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
};
</script>
<style>
  .vti__dropdown-list{
      width: 221px !important;
      overflow: hidden;
  }
  .vti__dropdown-item{
    padding: 4px 7px !important;
  }
  .vue-tel-input{
      font-size: 0.9375rem;
      line-height: 1.6;
      color: #605e7e;
      height: 39px;
      background-clip: padding-box;
      box-shadow: none;
      border: 1px solid #e8ebf3;
      border-radius: 3px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  /* .btn-facebook {
    color: #fff;
    background-color: #1c51dc;
    border-color: #1c51dc;
  }
  .btn-facebook:hover {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
  }
  .btn-facebook.active {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
  }
  .btn-facebook:focus, .btn-facebook.focus {
    box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
  }
  .btn-facebook.disabled, .btn-facebook:disabled {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
  }
  .btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active, .show>.btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
  }
  .btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus, .show>.btn-facebook.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
  } */
</style>