<template>
    <TheHeader />
    <slot/>
    <TheFooter />

</template>

<script>
import TheFooter from './../common/TheFooter'
import TheHeader from './../common/TheHeader'

export default {
    name: 'MainAppContainer', 
    components: {
        TheFooter,
        TheHeader
    }
}
</script>