<template>
<div class="overview-onbox">
    <div class="deals-tab">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="view-all">
                    Deals <a href="#">See all <fa icon="angle-right" /></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="continue-btn text-end">
                    <button class="btn default-button">Continue</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-10">
                <div class="deals-block">
                    <div class="deals-list">
                        <div class="thumb">
                            <img src="@/assets/images/deals/deal-1.jpg" alt="" class="img-fluid" />
                            <div class="mi-no">8325 mi</div>
                            <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                        </div>
                        <div class="content">
                            <h3 class="title">What is Lorem Ipsum?</h3>
                            <p>2 Days Left</p>
                            <div class="booknow text-end">
                                <a href="#" class="outling-button">Book Now <fa icon="long-arrow-alt-right" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-10">
                <div class="deals-block">
                    <div class="deals-list">
                        <div class="thumb">
                            <img src="@/assets/images/deals/deal-1.jpg" alt="" class="img-fluid" />
                            <div class="mi-no">8325 mi</div>
                            <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                        </div>
                        <div class="content">
                            <h3 class="title">What is Lorem Ipsum?</h3>
                            <p>2 Days Left</p>
                            <div class="booknow text-end">
                                <a href="#" class="outling-button">Book Now <fa icon="long-arrow-alt-right" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-10">
                <div class="deals-block">
                    <div class="deals-list">
                        <div class="thumb">
                            <img src="@/assets/images/deals/deal-1.jpg" alt="" class="img-fluid" />
                            <div class="mi-no">8325 mi</div>
                            <div class="price-tag"><span class="regular-price">$80</span> $21</div>
                        </div>
                        <div class="content">
                            <h3 class="title">What is Lorem Ipsum?</h3>
                            <p>2 Days Left</p>
                            <div class="booknow text-end">
                                <a href="#" class="outling-button">Book Now <fa icon="long-arrow-alt-right" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>