<template>
<div class="work-images">
    <h2>Photos (54)</h2>
    <div class="text-center">
        <div class="justify-content-center">
            <!-- <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox"> -->
                    <Carousel :items-to-show="3" :wrap-around="true">
                        <Slide v-for="slide in 10" :key="slide">
                            <div class="carousel__item">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="@/assets/images/gallery/image.jpg" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </Slide>

                        <template #addons>
                        <Navigation />
                        </template>
                    </Carousel>


                    <div class="row d-none">
                        <div class="col-md-4">
                            <a href="#">
                            <img src="@/assets/images/gallery/image.jpg" alt="" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                            <img src="@/assets/images/business_logo/business.jpg" alt="" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                            <img src="@/assets/images/gallery/image.jpg" alt="" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                            <img src="@/assets/images/gallery/image.jpg" alt="" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                            <img src="@/assets/images/gallery/image.jpg" alt="" class="img-thumbnail">
                            </a>
                        </div>

                    </div>





                    
                    <!-- <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="@/assets/images/gallery/image.jpg" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div> -->
        </div>
    </div>
</div>

</template>

<script>
import { Carousel, Navigation, Slide } from 'vue3-carousel';

export default {
    components: {
        Carousel,
        Slide,
        Navigation,
    },
}
</script>

<style>

</style>