<template>
    <div class="overview-onbox" id="overview">
        <div class="about-salon">
            <h2>About</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>

            <h3>Business Information </h3>
            <div class="bs-info">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="avalaibilty"><img src="@/assets/images/icons/site-icon.png"> www.hayatislam.com</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="avalaibilty"><img src="@/assets/images/icons/parking.png"> Avalaible</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="avalaibilty"><img src="@/assets/images/icons/rest.png"> Avalaible</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="avalaibilty"><img src="@/assets/images/icons/wifi.png"> Avalaible</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="avalaibilty"><img src="@/assets/images/icons/walk.png"> Yes</div>
                    </div>
                </div>
            </div>

            <h3>Special Instructions</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
            <h3>Cancellation Policy</h3>
            <h5>Appointment:</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
            <h5>Queue:</h5>
            <p>Charge after 3 attempts </p>

        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>