<template>
    <section class="header-body py-4">
        <div class="container">
            <div class="overview-section">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <div class="salon-overview">
                            <div class="salon-image">
                                <img src="@/assets/images/business_logo/business.jpg">
                            </div>
                            <div class="salon-detail">
                                <h4 class="salon-name">Usman Hair Saloon</h4>
                                <div class="salon-rating">
                                    <ul class="rates-icon">
                                        <li class="list-inline-item m-0">
											<fa icon="star" />
                                        </li>
                                        <li class="list-inline-item m-0">
                                            <fa icon="star" />
                                        </li>
                                        <li class="list-inline-item m-0">
                                            <fa icon="star" />
                                        </li>
                                        <li class="list-inline-item m-0">
                                            <fa icon="star" />
                                        </li>

                                        <li class="list-inline-item m-0">
                                            <fa icon="star-half-alt" />
                                        </li>
                                        <li class="list-inline-item text-muted">(0)</li>
                                    </ul>
                                </div>
                                <div class="opening-status">Open</div>
                                <div class="salon-address">135 W Morehead Street Charlotte, NC 28202</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 mb-0">
                        <button class="btn default-button">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>