<template>
    <div class="overview-onbox">
        <div class="overview-tabs-detail">
            <div class="multi1">
                <div class="row">
                    <Carousel :items-to-show="2" :itemsToScroll="2" :breakpoints="proCarouselBP" >
                        <Slide v-for="item in 5" :key="item">
                            <div class="customer-appointment">
                                <div class="customer-image">
                                    <img src="@/assets/images/icons/user-icon.jpg" />
                                    <div class="gender-tag"><img src="@/assets/images/icons/sm.png" />F</div>
                                </div>
                                <div class="customer-detail text-start">
                                    <h4 class="name">Hayat{{item}}</h4>
                                    <div class="category">Barber</div>
                                    <div class="service">View services</div>
                                    <div class="waiting-time">Est. wait time (5 min)</div>
                                </div>
                            </div>
                        </Slide>

                        <template #addons>
                        <Navigation />
                        </template>
                    </Carousel>
                    
                    <!-- <div class="col-12 col-lg-3 col-md-6">
                        <div class="customer-appointment">
                            <div class="customer-image">
                                <img src="@/assets/images/icons/user-icon.jpg" />
                                <div class="gender-tag">M</div>
                            </div>
                            <div class="customer-detail">
                                <h4 class="name">Hayat</h4>
                                <div class="category">Barber</div>
                                <div class="service">View services</div>
                                <div class="waiting-time">Est. wait time (5 min)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="customer-appointment">
                            <div class="customer-image">
                                <img src="@/assets/images/icons/user-icon.jpg" />
                                <div class="gender-tag"><img src="@/assets/images/icons/sm.png" /></div>
                            </div>
                            <div class="customer-detail">
                                <h4 class="name">Hayat</h4>
                                <div class="category">Barber</div>
                                <div class="service">View services</div>
                                <div class="waiting-time">Est. wait time (5 min)</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="queue-arousel">
                        <Carousel :items-to-show="2" :itemsToScroll="2" :breakpoints="breakpoints" >
                            <Slide v-for="slide in 10" :key="slide">
                                
                                <div class="item">
                                    <div class="pad15">
                                        <div class="bk-image">
                                            <img src="@/assets/images/icons/user-icon.jpg" />
                                        </div>
                                        <div class="booking-time">7:22 PM</div>
                                        <div class="booking-id">Ond{{slide}}</div>
                                    </div>
                                </div>
                            </Slide>

                            <template #addons>
                            <Navigation />
                            </template>
                        </Carousel>
                    </div>



                    <!-- <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <div class="bk-image">
                                        <img src="@/assets/images/icons/user-icon.jpg" />
                                    </div>
                                    <div class="booking-time">7:22 PM</div>
                                    <div class="booking-id">Ond123</div>
                                </div>
                            </div>
                        </div>
                        <button class="slide1 leftLst"><span class="carousel-control-prev-icon" aria-hidden="true"></span></button>
                        <button class="slide1 rightLst"><span class="carousel-control-next-icon" aria-hidden="true"></span></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { Carousel, Navigation, Slide } from 'vue3-carousel';
export default {
    components: {
        Carousel,
        Slide,
        Navigation,
    },
    data() {
        return {
            proCarouselBP:{
                450: {
                    itemsToShow: 2,
                    itemsToScroll:2,
                    snapAlign: 'start',
                },
                // 700px and up
                992: {
                    itemsToShow: 3,
                    itemsToScroll:3,
                    snapAlign: 'start',
                },
                // 1024 and up
                1200: {
                    itemsToShow: 4,
                    itemsToScroll: 4,
                    snapAlign: 'start',
                }
            },
            breakpoints: {
                500: {
                    itemsToShow: 3,
                    itemsToScroll: 3,
                    snapAlign: 'start',
                },
                // 700px and up
                992: {
                    itemsToShow: 4,
                    itemsToScroll: 4,
                    snapAlign: 'start',
                },
                // 1024 and up
                1200: {
                    itemsToShow: 6,
                    itemsToScroll: 6,
                    snapAlign: 'start',
                }
            }
        }
    }
}
</script>
<style>
.carousel__viewport{
    overflow-x: clip !important;
    overflow-y: unset !important;
}
</style>