<template>
<div class="reviews-content">
    <div class="reviews-inner-body">
        <h2 class="heading">4.9 <img src="@/assets/images/icons/starts.png" /> (100) Reviews</h2>
        <div class="customer-rating">
            <div class="row">
                <div class="col-12">
                    <div class="row rating-desc">
                        <div class="col-lg-5 col-xs-6 col-md-6">
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-2 col-md-6">
                            <ul class="ourall-rating">
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">5</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-4 col-md-4 mb-0 d-none d-lg-block">
                            <span class="star-title">Quality of Service</span>
                        </div>
                        <!-- end 5 -->

                        <div class="col-lg-5 col-xs-6 col-md-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-2 col-md-6">
                            <ul class="ourall-rating">
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">4</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-4 col-md-4 mb-0 d-none d-lg-block">
                            <span class="star-title">Skill</span>
                        </div>
                        <!-- end 4 -->

                        <div class="col-lg-5 col-xs-6 col-md-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                    <span class="sr-only">10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-2 col-md-6">
                            <ul class="ourall-rating">
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">3</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-4 col-md-4 mb-0 d-none d-lg-block">
                            <span class="star-title">Communication</span>
                        </div>
                        <!-- end 3 -->

                        <div class="col-lg-5 col-xs-6 col-md-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                    <span class="sr-only">5%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-2 col-md-6">
                            <ul class="ourall-rating">
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">2</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-4 col-md-4 mb-0 d-none d-lg-block">
                            <span class="star-title">Adherence to Schedule</span>
                        </div>
                        <!-- end 2 -->

                        <div class="col-lg-5 col-xs-6 col-md-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                                    <span class="sr-only">1%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-2 col-md-6">
                            <ul class="ourall-rating">
                                <li class="list-inline-item me-1">
                                    <fa icon="star" />
                                </li>
                                <li class="list-inline-item me-1">1</li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-md-4 mb-0 d-none d-lg-block">
                            <span class="star-title">Would recommend</span>
                        </div>
                        <!-- end 1 -->
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>

        <div class="review-box" v-for="item in 3" :key="item">
            <div class="author">
                <span class="author-image"><img src="@/assets/images/icons/avatr.png" /></span>
                <span class="author-name">Abim John</span>
                <span class="post-date">May 27, 2021</span>
            </div>
            <div class="review-rating">
                <ul class="rates-icon">
                    <li class="list-inline-item me-1">
                        <fa icon="star" />
                    </li>
                    <li class="list-inline-item me-1">
                        <fa icon="star" />
                    </li>
                    <li class="list-inline-item me-1">
                        <fa icon="star" />
                    </li>
                    <li class="list-inline-item me-1">
                        <fa icon="star" />
                    </li>

                    <li class="list-inline-item me-1">
                        <fa icon="star" />
                    </li>
                </ul>
            </div>
            <div class="review-description">
                <h6>Service: Full Makeup</h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the not only five centuries, but also the leap ine leap into electronic te
                    leap into electronic te leap into electronic t to electronic typesetting, remaining essentially unchanged....
                </p>
                <!-- <div class="review-help-btn">
                    <button class="btn outling-button">Helpful</button>
                    <button class="btn report-button">Report</button>
                </div> -->
            </div>
        </div>
        <!-- Reviews Box -->
    </div>
    <!-- Reviews Inner Body -->
</div>

</template>

<script>
export default {

}
</script>

<style>

</style>