<template>
    <div class="sidebar-right">
        <div class="sidebar-box">
            <div class="title">
                <h2>Safety Precautions</h2>
            </div>
            <div class="detail-box">
                <h4>Physical Distancing </h4>
                <ul>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    
                </ul>
            </div>
            <hr>
            <div class="detail-box">
                <h4>Preventive Measures </h4>
                <ul>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    
                </ul>
            </div>
        </div>
        <div class="sidebar-box">
            <div class="title">
                <h2>Business Hours</h2>
            </div>
                <div class="bs-hours">
                    <div class="days">
                        <span class="day-name">Monday</span>
                        <span class="day-status closed">Closed</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Tuesday</span>
                        <span class="day-status ">2:00 PM - 10:00 PM</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Wednesday</span>
                        <span class="day-status ">2:00 PM - 10:00 PM</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Thursday</span>
                        <span class="day-status ">2:00 PM - 10:00 PM</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Friday</span>
                        <span class="day-status closed">Closed</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Saturday</span>
                        <span class="day-status ">2:00 PM - 10:00 PM</span>
                    </div>
                    <div class="days">
                        <span class="day-name">Sunday</span>
                        <span class="day-status ">2:00 PM - 10:00 PM</span>
                    </div>
                </div>
        </div>

        <div class="sidebar-box">
            <div class="location-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.8816100068852!2d-96.0045524847284!3d36.14509578008881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87da551856122831%3A0xfcbb87f98772852f!2sU.S.%20Rte%2066%2C%20United%20States!5e0!3m2!1sen!2s!4v1624742177577!5m2!1sen!2s"
                    width="100%"
                    height="300"
                    style="border: 0;"
                    allowfullscreen=""
                    loading="lazy"
                ></iframe>
                <div class="contact-detail text-center">
                    <p><fa icon="phone-alt" /> (212) 323 - 7202</p>
                    <p><fa icon="map-marker-alt" /> 135 W Morehead Street Charlotte, NC 28202</p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>