<template>
    <div class="overview-onbox">
        <div class="" id="service" role="tabpanel" aria-labelledby="service-tab">
            <div class="services-accordion">
                <div class="title">Services <fa icon="angle-right" /></div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Makeup
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 col-md-6" v-for="item in 3" :key="item">
                                <div class="queue-service">
                                    <div class="checked"><fa icon="check" /></div>
                                    <div class="queue-title"><h4>Wedding Party {{item}}</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="btn btn-outline-primary btn-sm">Book Now</a></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Hair
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="checked"><fa icon="check" /></div>
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="btn btn-outline-primary btn-sm">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="checked"><fa icon="check" /></div>
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="btn btn-outline-primary btn-sm">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="btn btn-outline-primary btn-sm">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="btn btn-outline-primary btn-sm">Book Now</a></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Nail
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="checked"><fa icon="check" /></div>
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="outling-button">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="outling-button">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="outling-button">Book Now</a></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="queue-service">
                                    <div class="queue-title"><h4>Wedding Party</h4></div>
                                    <div class="description"><p>Lorem Ipsum is simply dummy text of the printingting </p></div>
                                    <div class="time"><fa :icon="['far','clock']" /> 30 mins</div>
                                    <div class="price">Price: <span class="regular-pr">$30.00</span> $15.00</div>
                                    <div class="add-to-list"><a href="#" class="outling-button">Book Now</a></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>