<template>
    <div class="overview-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="overview-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="queue-tab" data-bs-toggle="tab" data-bs-target="#queue" type="button" role="tab" aria-controls="profile" aria-selected="false">Today’s Queue</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="deals-tab" data-bs-toggle="tab" data-bs-target="#deals" type="button" role="tab" aria-controls="contact" aria-selected="false">Deals</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="contact" aria-selected="false">Service</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="contact" aria-selected="false">Reviews</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="sharing-section">
                        <div class="sharing-tb"><a href="#"><fa icon="share" /> Share</a></div>
                        <div class="sharing-tb"><a href="#"><fa icon="heart" /> Favourite</a></div>
                        <div class="sharing-tb"><button class="btn outling-button">Request a Quote</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>