<template>
    <MainAppContainer>
        <main>
            <ProfileHeader />
            <TabBar />
            <section class="overview-details">
                <div class="container">
                    <div class="row">
                        <!-- Tabs Content -->
                        <div class="col-lg-8 col-md-8">
                            <Queue />
                            <Overview />
                            <Gallery />
                            <Services />
                            <Deals />
                            <Reviews />
                        </div>
                        <!-- Sidebar -->
                        <div class="col-lg-4 col-md-4">
                            <SideBar />
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </MainAppContainer>
</template>

<script>
import MainAppContainer from '@/components/containers/MainAppContainer.vue'
import ProfileHeader from '@/components/businessProfile/profileHeader.vue'
import TabBar from '@/components/businessProfile/tabBar.vue'
import Overview from '@/components/businessProfile/overview.vue'
import SideBar from '@/components/businessProfile/rightSideBar.vue'
import Queue from '@/components/businessProfile/queue.vue'
import Services from '@/components/businessProfile/services.vue'
import Deals from '@/components/businessProfile/deals.vue'
import Gallery from '@/components/businessProfile/gallery.vue'
import Reviews from '@/components/businessProfile/reviews.vue'
import 'vue3-carousel/dist/carousel.css';


export default {
  name: 'Home',
  components: {
    MainAppContainer,
    ProfileHeader,
    TabBar,
    Overview,
    SideBar,
    Queue,
    Services,
    Deals,
    Gallery,
    Reviews
  }
}
</script>
