<template>
    <MainAppContainer>
        <banner />
        <services />
        <deals />
        <!-- Announcement -->
        <section class="announcement-section py-3 py-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="@/assets/images/img/people.png" alt="Queue" class="img-fluid" />
                    </div>
                    <div class="col-md-7">
                        <div class="content text-center text-md-start">
                            <h2><fa icon="user-secret" />Does your barbershop or nail salon offer walk-in services?</h2>
                            <p>OnDaQ’s Queue Management System can be a solution for you.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="businessList-btn text-center text-md-start">
                            <a href="#" class="btn btn-light mb-2"><fa icon="sign-out-alt" /> List your business</a>
                            <p>
                                No creditcard needed<br />
                                *90-day free trial
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Announcement -->
        <businesses />
        <bookingAndQueueProcess />
        <downloadApp />
    </MainAppContainer>
</template>
<script>
import MainAppContainer from '@/components/containers/MainAppContainer.vue'
import banner from '@/components/home/banner.vue'
import services from '@/components/home/services.vue'
import deals from '@/components/home/deals.vue'
import businesses from '@/components/home/businesses.vue'
import bookingAndQueueProcess from '@/components/home/bookingAndQueueProcess.vue'
import downloadApp from '@/components/home/downloadApp.vue'
export default {
  name: 'Home',
  components: {
    MainAppContainer,
    banner,
    services,
    deals,
    businesses,
    bookingAndQueueProcess,
    downloadApp
  }
}
</script>