<template>
    <MainAppContainer>
        <main>
            <SearchBar />
            <div class="container-fluid">
                <div class="mobile-map-filter d-md-none">
                    <span class="filter-btn">
                        <button type="button" class="btn sec-button" data-bs-toggle="modal" data-bs-target="#filterModal"><fa icon="sliders-h" /> Filter</button>
                    </span>
                    <span class="map-btn">
                        <button type="button" class="btn sec-button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><fa :icon="['far','map']" /> Map</button>
                    </span>
                </div>
            </div>
            <!-- Map -->
            <div class="collapse" id="collapseExample">
                <div class="mapColapse">
                    <Map />
                </div>
            </div>
            <section class="py-5">
                <div class="container-fluid">
                    <SelectedFilters />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 mb-0 d-none d-md-block">
                            <Filters />
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <BusinessListing />
                        </div>
                        <div class="col-lg-4 col-md-4 mb-0 d-none d-md-block">
                            <div class="location-map">
                                <Map />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </MainAppContainer>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import MainAppContainer from '@/components/containers/MainAppContainer.vue'
import SearchBar from '@/components/search/topSearchBar.vue'

import Filters from '@/components/search/filters.vue'
import SelectedFilters from '@/components/search/selectedFilters.vue'
import BusinessListing from '@/components/search/businessListing.vue'
import Map from '@/components/search/map.vue'



export default {
  name: 'Home',
  components: {
    MainAppContainer,
    SearchBar,
    Filters,
    SelectedFilters,
    BusinessListing,
    Map
  }
}
</script>
