/*
Template Name : OnDaQ
*/

html,body{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
    color: #8e409d;
}

/*.container-fluid {
    width: 95%;
}*/
section {
    width: 100%;
    height: auto;
    padding: 60px 0;
}
h1 {
    color: #333;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 25px;
}
div.form-error-msg-labeled{
    left: 1px;
    top: 63px;
}
div.form-error-msg{
    left: 1px;
    top: 31px;
}
div.form-error-msg-labeled, div.form-error-msg {
    position: absolute;
    background: #dc3545;
    padding: 2px 8px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 0;
    color: #fff;
    z-index: 10;
    box-shadow: 0px 2px 3px -1px #616161;
    letter-spacing: .4px;
}
div.form-error-msg-labeled:before, div.form-error-msg:before{
	bottom: 100%;
	left: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(232, 232, 232, 0);
	border-bottom-color: #dc3545;
	border-width: 7px;
	margin-left: -7px;
}
.text-12{
	font-size: 12px;
}
.text-13{
    font-size: 13px;
}
.text-14{
    font-size: 14px;
}

.title-block {
    width: 100%;
    height: auto;
    margin: 0 0 40px;
}
.title-block h1{
	margin: 0 0 15px;
    position: relative;
	font-size: 32px;
}
.title-block h1 .see-all-button{
    position: absolute;
    margin-left: 25px;
}
.title-block h1 .see-all-button a{
    color: #6e317a;
    font-size: 16px;
    text-decoration: underline;
}


/* Modal */
.modal-title{
	color: #333333;
	font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-title img{
	height: 28px;
}
.modal-header .btn-close{
	width: 4px;
	height: 4px;
	padding: 3px;
	margin: 3px;
}

/* Buttons */
.btn{
	font-weight: 400;
    letter-spacing: .03em;
    font-size: 0.9125rem;
}
.btn:focus{
	box-shadow: none;
}
.btn-common{
	background: #6e317a !important;
	color: #fff!important;
	border-color: #6e317a;
	box-shadow: none;
}
.btn-common:hover,.btn-common:active,.btn-common:focus{
	background: #fff !important;
	color: #6e317a !important;
	border-color: #6e317a;
	box-shadow: none;
}


.btn-ondaq-dark{
	background: #6e317a;
    color: #fff;
    box-shadow: 0 0 12px #6e317a9e;
}
.btn-ondaq-dark img{
	filter: brightness(600%);
	width: 15px;
}
.btn-ondaq-dark:hover, .btn-ondaq-dark:active{
	background: #fff;
    color: #6e317a;
    box-shadow: 0 0 12px #6e317a9e;
}

.btn-signup, .btn-signup:hover, .btn-signup:active{
	background: #6e317a;
    color: #fff;
    /*box-shadow: 0 0 12px #6e317a9e;*/
    box-shadow: 0 4px 8px rgb(110 49 122 / 36%);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 8px 40px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.btn-signup img{
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    margin: 0 7px 3px 0px;
    filter: brightness(600%);
}

.btn-login{
    color: #000;
}
.btn-login:hover{
    color: #6e317a;
}

.btn-login,.btn-login:active,.btn-login:hover,.btn-login:focus{
	font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    box-shadow: none;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    position: relative;
    background: #fff;
}

.btn-login img{
    margin: 0 7px 3px 0px;
    filter: brightness(0%);
}
.btn-login:hover img{
    filter: none;
}
.btn-open-app{
	font-size: 11px;
	box-shadow: none;
}

.btn-search{
	background: #6e317a;
	color: #fff;
    border: none;
}




/* Input Forms */
.form-check{
    position: relative;
}
.form-group {
    margin-bottom: 1rem;
    position: relative;
}
.form-label,.form-check label {
    margin-bottom: .375rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #333;
}
.form-label{
    display: block;
}
.form-control, .form-select {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 0.9375rem;
	line-height: 1.6;
	color: #605e7e;
	height: 39px;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: none;
	border: 1px solid #e8ebf3;
	border-radius: 3px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-select:focus,.form-select:active{
	box-shadow: none;
	border: 1px solid #e8ebf3;
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}
.form-control:focus {
	color: #6f6e6e;
	background-color: #fff;
	border-color:#e8ebf3;
	outline: 0;
	box-shadow:none;
}
.form-control::-webkit-input-placeholder {
	color: #a7b4c9;
	opacity: 1;
}
.form-control::-moz-placeholder {
	color: #a7b4c9;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #a7b4c9;
	opacity: 1;
}
.form-control::-ms-input-placeholder {
	color: #a7b4c9;
	opacity: 1;
}
/* .form-control:: {
	color:#99c1b2;
	opacity: 1;
} */
.form-control:disabled, .form-control[readonly] {
	background-color: #f9faff;
	opacity: 1;
	cursor: no-drop
}




/* Login Modal */
#reservation-form{
	width:100%;
	display:block;
}
.checkbox-label{
	display: inline-block;
}

.modal .form-label, .modal .form-check label {
    font-weight: 400;
}
hr.divider {
	padding: 0;
    border: none;
    border-top: solid 1px #e8ebf3;
    text-align: center;
    margin: 1.5rem 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    opacity: 1;
}
hr.divider:after {
	content: "or";
	display: inline-block;
	position: relative;
	top: -0.9em;
	font-size: 1.2em;
	padding: 0 0.25em;
	color: #6f6f6f;
	background: white;
}



/* Header CSS Start*/
.centered-nav li > a, .centered-nav li > a:focus{
	font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.centered-nav li > a:hover, .centered-nav li > a:active{
	color: #6e317a;
}

.centered-nav li > a.active{
	font-weight: bold;
	color: #6e317a;
}

.animated-arrow{
	position: relative;
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	cursor: pointer;
	height: 2px;
	width: 17px;
	background: #a9a9a9;
	position: absolute;
	display: block;
	content: '';
}
.animated-arrow span:before {
	top: -7px;
	width: 23px;
}
.animated-arrow span:after {
	bottom: -7px;
	width: 17px;
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	transition: all 500ms ease-in-out;
}


/********************* Menu Sidebar **************************/
.menu-sidebar  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(17 17 17 / 62%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  min-height: 100%;
}
.m-nav{
	background: #fff;
    width: 250px;
    height: 100%;
}
.menu-sidebar a {
  padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #592763;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #f3f3f3;
}

.menu-sidebar a:hover {
  color: #f1f1f1;
}
.login-menu{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 20px;
}

.menu-sidebar .closebtn {
  	position: absolute;
    top: 27px;
    right: 47px;
    font-size: 26px;
    color: #5d5d5d;
    background: #fff;
    padding: 4px 11px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 26px;
    box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 55%);
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}


/********************* Search Modal **************************/
.search-modal{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.search-modal .modal-dialog{
	width: 100%;
	height: 100%;
    margin: 0;
    border: none;
}
.search-modal .modal-dialog .modal-content{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    pointer-events: auto;
    background-color: #cee8f7;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
}
.search-modal .modal-dialog .modal-content .modal-header{
	border-bottom: 1px solid #fff;
}
.modal-search .search-bar {
    position: relative;
    background-image: url('../images/icons/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 22px 22px 22px 35px;
    height: 32px;
    border-radius: 0;
    border: none;
}
.modal-search .location-bar {
    background-image: url('../images/icons/location-pin.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 22px 22px 22px 35px;
    height: 32px;
    border-radius: 0;
    border: none;
}
.autocomplete-dropdown {
    background-color: transparent;
    margin: 0;
    outline: 0;
    position: relative;
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8);
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.autocomplete-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.autocomplete-item {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #333;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #fff;
}
.searches-title{
	border-bottom: 1px solid #fff;
	font-size: 18px;
    font-weight: 600;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 12px;
}
.search-button{
	width: 100%;
	background: #6e317a;
	font-size: 16px;
	color: #fff;
}

/********************* Search Modal **************************/
.filter-modal{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.filter-modal .filter-sidebar {
    padding-left: 8px;
    overflow-y: auto;
    height: 480px;
}
.filter-modal .modal-dialog{
	width: 100%;
	height: 100%;
    margin: 0;
    border: none;
}
.filter-modal .modal-dialog .modal-content{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
}

/********************* After Login User**************************/
/*.top-userbar{
	float: right;
}
.foruser{
    width: 177px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
.foruser .nav{
    display: flex;
    align-items: center;
}
.foruser .nav h3{
    position: relative;
    margin-right: 30px;
    font-size: 16px;
    color: #434343;
}
.foruser .nav h3::after{
    position: absolute;
    content: "";
    top: 0;
    right: -15px;
    height: 100%;
    width: 2px;
    background: #43434348;
}
.foruser .nav .drop{
    position: relative;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6e317a;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}
.foruser img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
    border: 2px solid #fff;
}
.foruser .nav .drop i{
    transition: 0.3s;
    color: #fff;
    font-size: 11px;
}
.foruser .nav .drop i.active{
    transform: rotate(180deg);
}
.foruser .nav .drop .online{
    position: absolute;
    bottom: 7px;
    right: 28px;
    display: block;
    height: 7px;
    width: 7px;
    background: #50D030;
    border-radius: 50%;
}
.drop-box{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 43px;
    right: 0;
}
.drop-box .menu ul{
	margin: 0;
	padding: 0;
}
.drop-box .menu ul li{
	list-style: none;
}
.drop-box .user-details{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #434343
}
.drop-box .user-details::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #43434348;
}
.drop-box .user-details .details{
	text-align: left;
	width: 125px;
}
.drop-box .user-details .details h4{
	margin: 0;
	font-size: 16px;
}
.drop-box .user-details .details p{
	margin: 0;
}
.menu ul{
    width: 100%;
    line-height: 2;
}
.menu ul li a{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #5B5B5B;
}
.menu ul li a i{
    margin: auto 0;
    display: block;
    font-size: 16px;
    padding-right: 10px;
}
.menu ul li:nth-child(3),
.menu ul li:nth-child(4){
    position: relative;
    margin-bottom: 20px;
}
.menu ul li:nth-child(3)::after,
.menu ul li:nth-child(4)::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #43434348;
}
.menu ul li a:hover{
    color: #000;
}
.menu ul li:last-child a i{
    color: #FF585A;
}
.drop-box.active{
    animation: dropDown 0.5s both;
}
@keyframes dropDown {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}*/


/********************* Notification **************************/
.noti-dropdown{
    margin-top: 12px;
    margin-right: 25px;
}
.noti-dropdown .dropdown-menu{
    background: #fff;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0 8px 14px rgb(49 81 161 / 12%);
    border: none;
}
/*.noti-dropdown .dropdown-menu:after {
    display: block;
    content: "";
    clear: both;
    position: absolute;
    top: -14px;
    right: 80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 15px 12px;
    border-color: transparent transparent #fff transparent;
}*/
.user-dropdown .small-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-dropdown .online{
    position: absolute;
    bottom: 4px;
    right: 9px;
    display: block;
    height: 7px;
    width: 7px;
    background: #50D030;
    border-radius: 50%;
}


/*.noti-dropdown .badge{
    -webkit-animation: pulse 1.5s infinite;
}*/


/*.user-notification{
	float: right;
}
.user-notification ul {
  list-style: none;
  margin: 0;
  padding: 0;
}









.notification-drop {
  font-family: 'Ubuntu', sans-serif;
  color: #444;
}
.notification-drop .item {
  padding: 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.notification-drop .item:hover {
  cursor: pointer;
}
.notification-drop .item i {
  margin-left: 10px;
}
.notification-drop .item ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  left: -145px;
  right: 0;
  z-index: 1;
  border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    padding: 8px 0;
}
.notification-drop .item ul li {
  	padding: 8px 12px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #5B5B5B;
    line-height: normal;
}
.notification-drop .item ul li:hover {
  background: #ddd;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 500px) {
  .notification-drop {
    display: flex;
    justify-content: flex-end;
  }
  .notification-drop .item {
    border: none;
  }
}



.notification-bell{
  font-size: 20px;
}

.btn__badge {
    background: #6e317a;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 3px;
    font-weight: 400;
    right: 2px;
    padding: 1px 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.btn__badge:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.notification-text{
  font-size: 14px;
  font-weight: bold;
}

.notification-text span{
  float: right;
}
*/

/********************* Search Result **************************/
.search-bar-content{
	background: #f4f4f4;
}
.search-bar-button{
    background: #fff;
    padding: 0.65rem 1rem;
    box-shadow: 0 0 20px #33333336;
    margin-top: 0.2rem;
    margin-right: .5rem;
}
.search-bar-button:hover,.search-bar-button.active{
	background: #d7d7d7;
	box-shadow: 0 0 20px #33333336;
}
.search-bar-button img{
	margin-right: 6px;
}
.search-box .search-bar {
    border-right: 1px solid #b7b7b7;
    border-top: none;
    border-left: none;
    border-bottom: none;
    position: relative;
    background-image: url('../images/icons/search-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin: 9px 12px;
    height: 32px;
    box-shadow: none!important;
    border-radius: 0;
    font-size: 15px;
    color: #333;
}


.search-box .location-bar {
    border: none;
    background-image: url('../images/icons/location-pin.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    box-shadow: none!important;
    padding-right: 20px;
    margin: 9px 12px;
    height: 32px;
}
.search-field{
	box-shadow: 0 0 20px #33333336;
    border-radius: 5px;
    overflow: hidden;
}
.search-box button.btn-search{
	display: block;
    width: 100%;
    border-radius: 0 5px 5px 0;
    height: 50px;
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    background: #d7d7d7;
}

.search-box .no-gutters>.col, .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.sort-by{
	background: transparent;
    padding: 10px 12px;
}


.breadcrumb-filter{
    padding: 2px 8px;
    border: 1px solid #eee;
    border-radius: 3px;
    background: #f4f4f4;
    font-size: 14px;
    margin-right: 10px;
    color: #6c757d;
}
.breadcrumb-filter:hover{
    border: 1px solid #bdbdbd;
    background: #fff;
}
.breadcrumb-filter a{
    font-size: 12px;
    color: #6c757d;
    margin-left: 5px;
}

/********************* Search Results **************************/
.filter-sidebar{
	padding-left: 8px;
}

.filter-sidebar-title{
	position: relative;
	margin-bottom: 14px;
}
.filter-sidebar-title:after{
	content: "";
    background-image: url('../images/icons/filter-icon.png');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100%;
    position: absolute;
    right: 35%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dolar-sign{
	border: 1px solid #a0a0a0;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
}
.dolar-sign span{
	padding: 4px 22px;
    border-left: 1px solid #a0a0a0;
    display: inline-block;
}
.dolar-sign span:first-child{
	border-left:none;
	background: #ebebeb;
}
.results-rating{
	margin: 0;
	padding: 0;
}

.results-rating li i{
	color: #fdb415;
}
.open-status{
	font-size: 16px;
	color: #212121;
	font-weight: 500;
	margin: 18px 0px 0;
}
.open-status img{
	margin: 0 0 4px 0;
}
.filter-box{
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}

.filter-title{
	font-size: 16px;
	color: #212121;
	font-weight: 500;
}
/* .rates-icon{

}
.filter-box{

}
.filter-title{

}
.filter-option{

} 
.results-cont{

}*/
.form-check-input:checked {
    background-color: #6e317a;
    border-color: #6e317a;
}

.result-box{
	background: #fff;
    padding:5px;
    box-shadow:0 0 12px #33333326;
    display: flex;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin: 20px 0;
}
.salon-image{
	width: 200px;
	position: relative;
}
.salon-image img{
	object-fit: cover;
	width: 100%;
	border-radius: 5px;
}
.salon-image .price-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
    font-weight: 500;
    background: #ffffffd6;
    padding: 2px 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255 / 55%);
    font-size: 14px;
}
.salon-image .regular-price {
    color: #4c4c4c;
    text-decoration: line-through;
    margin-right: 5px;
    font-weight: 400;
    font-size: 14px;
}
.visit-arrow{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    color: #000000;
    font-weight: 600;
    background: #ffffffd6;
    padding: 3px;
    border-radius: 30px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
}
.salon-detail{
	margin-left: 12px;
}
/* .salon-name{}
.salon-rating{

} */
.salon-rating ul{
	margin: 0;
	padding: 0;
}
.salon-rating ul li i{
	color: #fdb415;
}
.description{
	font-size: 14px;
	color: #5a5a5a;
	margin: 6px 0;
}
.opening-status{
	color: #0e8e32;
	font-size: 14px;
}
.salon-address{
	color: #aeaeae;
	font-size: 14px;
	margin: 6px 0 0;
}
.date-time{
	color: #0e8e32;
	font-size: 14px;
	margin: 6px 0;
}
.date-time span{
	display: inline-block;
}
/* .date-time .est-date{

} */
.date-time .est-time{
	justify-content: flex-end;
	float: right;
}
.mobile-map-filter{
	margin-top: 24px;
}
.mobile-map-filter span{
	padding: 0;
}
/* .filter-btn{

} */
.map-btn{
	float: right;
}
.mobile-map-filter .sec-button{
	background: #fff;
    padding: 9px 16px;
    border: 1px solid #dfdfdf;
}

.location-map{
	position: -webkit-sticky;
    position: sticky;
    top: 3rem;
}
.mapColapse{
	margin-top: 12px;
}


/********************* Business Details **************************/
.header-body{
    background: #f8f9fa;
}
/* .overview-section{

} */
.waitlist{
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    padding: 4px 0;
}
.waitlist .waitlist-tag{
    background: #bebebe;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
}
.overview-section .salon-overview {
    padding: 0px;
    display: flex;
    border-radius: 5px;
    margin: 20px 0;
}
.overview-section .salon-image {
    width: 200px;
    position: relative;
}
.overview-section .salon-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
.overview-section .salon-detail {
    margin-left: 12px;
}
.overview-section .salon-name {
    font-size: 34px;
    font-weight: 600;
}
/* .overview-section .salon-rating {
    
} */
.overview-section .salon-rating ul li {
    color: #fdb415;
    font-size: 22px;
}
.overview-section .opening-status {
    color: #0e8e32;
    font-size: 17px;
    padding: 5px 0;
}
.overview-section .salon-address {
    color: #aeaeae;
    font-size: 17px;
    margin: 6px 0 0;
}
.overview-head{
    background: #f0f0f0;
}
.sharing-section{
    padding: 3px 0;
    text-align: right;
}
.sharing-tb{
    vertical-align: middle;
    display: inline-block;
    margin: 0 14px;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link{
    padding: 12px 6px;
    margin: 0 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #5b5b5b;
    font-size: 16px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #6e317a;
    border-bottom: 2px solid #6e317a;
    padding: 12px 6px;
    margin: 0 6px;
    border-radius: 0;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 500;
}
.overview-onbox{
    border:1px solid #ccc;
    padding:15px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.tabs-head{
    background: #f8f9fa;
    border-bottom: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 16px;
    border-radius: 5px 5px 0 0;
}
.multi1{
    background: #f3f5f7;
    margin-bottom: 8px;
}
.customer-appointment{
    padding: 10px 2px;
    display: flex;
    margin: 0;
    background-color: transparent;
}

.customer-appointment.active{
    background: #ffffff;
}
.customer-image{
    width: 45px;
    position: relative;
}
.customer-image img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
.gender-tag{
    text-align: center;
    position: absolute;
    top: -2px;
    right: -3px;
    color: #ffffff;
    font-weight: 600;
    background: #000333;
    padding: 0px;
    border-radius: 100%;
    font-size: 9px;
    width: 15px;
    height: 15px;
}
.gender-tag img{
    width: 15px;
    height: 15px;
}
.customer-detail{
    margin-left: 12px;
    font-size: 12px;
}
.customer-detail .name{
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
/* .customer-detail .category{

}
.customer-detail .service{

} */
.customer-detail .waiting-time{
    color: #0e8e32;
    font-size: 11px;
}


/* 
.MultiCarousel { float: left; overflow: hidden; padding: 15px 0; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; } */
.queue-arousel{
    margin-top: 50px;
}
.queue-arousel .item { 
    padding-top: 12px;
    width: 100%;
}
.queue-arousel .item > div { 
    text-align: center; 
    margin:10px;
    padding: 38px 0 10px; 
    background:#000333; 
    color:#666;
    position: relative;
    border-radius: 5px;
}
.carousel__prev, .carousel__next{
    background-color: rgb(123 123 123 / 73%) !important;
}
section.carousel {
    padding: 0;
}
/* .queue-arousel .leftLst, .queue-arousel .rightLst {
    position: absolute;
    border-radius: 0;
    top: calc(50% - 10px);
    border: none;
    display: inline-block;
    width: 1rem;
    height: 1.2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: rgb(123 123 123 / 73%);
    padding: 0;
}
.MultiCarousel .carousel-control-next-icon, .MultiCarousel .carousel-control-prev-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; } */

/*.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }*/
.bk-image{
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    border-radius: 100%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255 / 55%);
}
.bk-image img{
    width: 100%;
}
.booking-time{
    color: #fff;
    font-size: 18px;
}
.booking-id{
    background: rgb(255 255 255 / 51%);
    color: #fff;
    font-size: 15px;
    margin: 5px 0;
    padding: 4px;
    text-align: center;
}
.bs-hours{
    margin-top: 20px;
    padding: 0 22px;
}
.days {
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    padding: 12px 0;
}
.days:hover{
    font-weight: bold;
}
.day-name {
    display: inline-block;
    text-align: left;
}
.day-status {
    text-align: right;
    /* display: inline-block; */
    float: right;
    justify-content: flex-end;
}
.closed{
    color: #d60000;
}
.location-map .contact-detail{
    padding: 10px 0;
}
.location-map .contact-detail p{
    margin: 0;
}

.view-all{
    font-size: 20px;
    margin-bottom: 15px;
}
.view-all a{
    font-size: 18px;
    color: #6e317a;
    margin-left: 20px;
}
.queue-service{
    box-shadow: 0 0 34px #6e317a33;
    background: #fff;
    text-align: center;
    padding: 36px 14px 15px;
    border-radius: 5px;
    position: relative;
}
.queue-service input[type=checkbox] {
  transform: scale(1.5);
}

.queue-service input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

.queue-service input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #00BFF0;
  width: 22px;
  height: 25px;
  visibility: visible;
  border: 1px solid #00BFF0;
  padding-left: 3px;
  border-radius: 5px;
}

.queue-service input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

.checked{
    position: absolute;
    top: 7px;
    left: 7px;
    color: #fff;
    background: #9a9a9a;
    padding: 6px;
    border-radius: 30px;
    font-size: 13px;
    width: 30px;
    height: 30px;
}
.queue-title h4{
    font-size: 20px;
    color: #6e317a;
}
.time{
    font-size: 14px;
    color: #333333;
}
.price{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}
.regular-pr{
    font-weight: 400;
    color: #fc1212;
    text-decoration: line-through;
}
.queue-service .description p{
    font-size: 12px;
}
/* .add-to-list{

} */

.default-button{
    background: #6e317a;
    border: 1px solid #6e317a;
    color: #fff;
    /* box-shadow: 0 0 12px #6e317a9e; */
    box-shadow: 0 4px 8px rgb(110 49 122 / 36%);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.default-button:hover{
    background: #fff;
    border: 1px solid #6e317a;
    color: #6e317a;
}

.outling-button{
    background: #fff;
    border: 1px solid #6e317a;
    color: #6e317a;
    /* box-shadow: 0 0 12px #6e317a9e; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.outling-button:hover{
    background: #6e317a;
    border: 1px solid #6e317a;
    color: #fff;
}

.btn-outline-primary {
    color: #6e317a;
    border-color: #6e317a;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #6e317a;
    border-color: #6e317a;
}
.btn-primary {
    color: #fff;
    background-color: #6e317a;
    border-color: #6e317a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5f2a69;
    border-color: #5f2a69;
}

.deals-tab{
    margin-top: 20px;
}

.services-accordion .title{
    font-size: 24px;
    margin-bottom: 15px;
}
/* .services-accordion{

}
.about-salon{

}
.about-salon h2{

} */
.about-salon h3{
    font-size: 1.5rem;
}
.about-salon h5{
    font-size: 1rem;
}
.avalaibilty{
    margin: 8px 0;
}

/* .bs-info{

}
.sidebar-right{

} */
.sidebar-right .sidebar-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sidebar-box h4{
    font-size: 20px;
    margin-bottom: 12px;
}
.sidebar-box .detail-box{
    padding: 20px;
}

.detail-box ul li{
    list-style: none;
    position: relative;
}
.detail-box ul li:before{
    content: "";
    background: url('../images/icons/list-icon.png');
    width: 16px;
    height: 16px;
    background-size: 100%;
    position: absolute;
    left: -27px;
}
.sidebar-right .title{
    border-bottom: 1px solid #ccc;
    padding: 12px 16px;
}
.sidebar-right .title h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}



/********************* Images slide **************************/
.work-images{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.work-images .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 47px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: rgb(51 51 51 / 54%);
    border: 0;
    opacity: 1;
    transition: opacity .15s ease;
    margin: auto;
}


.ourall-rating{
    padding-left: 10px;
    font-size: 13px;
}
.ourall-rating li{
    font-size: 13px;
}
.ourall-rating li svg{
    color: #FDB415;
}




@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .ourall-rating {
    margin: 0;
    text-align: left;
    padding: 0;
}
.overview-tabs .nav-tabs {
    border-bottom: none;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.overview-tabs .nav-tabs li{
    display: inline-block;
    border-bottom: 1px solid #ccc;
}
.overview-section {
    text-align: center;
}

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


/********************* Reviews **************************/
.reviews-content{
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}
.reviews-content .heading{
    margin-bottom: 22px;
}
.reviews-content .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6e317a;
    transition: width .6s ease;
}

.ourall-rating li i{
    color: #FDB415;
}
.star-title{
    font-size: 16px;
    font-weight: 500;
}
.review-box{
    margin: 30px 0;
}
/* .author{
    
} */
.author-image{
    width: 60px;
    display: inline-block;
}
.author-image img{
    width: 100%;
}
.author-name{
    font-size: 22px;
    font-weight: 600;
    padding: 0 12px;
}
.post-date{
    font-size: 13px;
    color: #414141;
    font-weight: 500;
}

.review-rating .rates-icon{
    padding: 0;
    margin: 15px 0;
}
.review-rating .rates-icon svg{
    color: #FDB415;
}
.review-description p{
    font-size: 12px;
}
/* .review-rating{

}
.review-description{

}

.review-description h5{

}

.review-help-btn{

} */
.review-help-btn button.outling-button{
    border-color: #333;
    color: #333;
    font-size: 16px;
}
.report-button{
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
}

/********************* Business List **************************/

.business-list-heading{
    text-align: center;
    margin: 32px 0 40px;
}
/* .business-list-heading h2{

}
.business-list-heading p{

}
.register-tabs{

} */
.sign-up-flow-div {
    height: 50px;
    background-color: #f5f5f5;
}
.flow-inner-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.personal-info-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33.33%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    background-color: #6e317a;
    color: #fff;
    font-size: 12px;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: uppercase;
}
.white-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding-top: 1px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
}
.white-circle.dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 1px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-color: rgba(51,51,51,.3);
    font-size: 14px;
}
.services-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33.33%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    border-right: 1px none rgba(51,51,51,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    color: rgba(51,51,51,.35);
    font-size: 12px;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: uppercase;
}
.services-div.right-end {
    border-right-style: solid;
}
.services-form{
    width: 900px;
    margin: 0 auto;
}
#grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}

#msform {
    /*text-align: center;*/
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    border-radius: 0px;
    box-sizing: border-box;
    position: relative;
    /*border: 1px solid #e1e1e1;
    padding: 30px;
    background: #f9f9f9;*/
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #515151
}



#msform .action-button {
    background: #6e317a;
    border: 1px solid #6e317a;
    color: #fff;
    /* box-shadow: 0 0 12px #6e317a9e; */
    box-shadow: 0 4px 8px rgb(110 49 122 / 36%);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6e317a
}

#msform .action-button-previous {
    background: #616161;
    margin: 10px 5px;
    border: 1px solid #616161;
    color: #fff;
    /* box-shadow: 0 0 12px #6e317a9e; */
    box-shadow: 0 4px 8px rgb(110 49 122 / 36%);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    display: flex;
    padding: 0;
    width: 100%;
}

#progressbar .active {
    background-color: #6e317a;
    color: #fff
}
#progressbar .active .white-circle.dark{
    border-color: #fff;
}
#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 33.3%;
    padding: 12px 0;
    position: relative
}

/*#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #services:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #billing:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}*/

/*#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #6e317a;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}
/* .plans-item{

} */
.plan-box{
    background: #f9f4f9;
    padding: 25px;
    text-align: center;
}
.plan-active{
    background: #9901a7;
}
.plan-icon{
    width: 70px;
    margin: 0 auto;
    background: #fff;
    padding: 18px;
    border: 1px solid #dddcdd;
    border-radius: 100%;
}
.plan-icon img{
    width: 100%;
}
.plan-title{
    font-size: 18px;
    font-weight: 400;
    margin: 12px 0 4px;
}
.plan-box p{
    font-size: 14px;
    font-weight: 300;
    color: #838383;
}
.plan-active .plan-title, .plan-active p{
    color: #fff;
}
.plan-active .plan-icon{
    position: relative;
}
.plan-active .plan-icon .check-mark{
    position: absolute;
    background: #16bc16;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 1px;
    top: 0;
    right: -2px;
}
.plan-active .plan-icon .check-mark i{
    color: #fff;
}


/********************* Footer **************************/
footer{
	padding: 60px 0 8px;
    background: #3a3a3a;
}
footer ul li a{
	font-size: 13px;
}
.center-footer{
	border-top: 1px solid #525252;
	border-bottom: 1px solid #525252;
}
.center-footer p{
	color: #eee;
}
.footer-bottom{
	font-size: 11px;
}






/* Banner Start */
.banner {
	background-image:url('../images/banner/banner1.jpg');
	background-size: cover;
	background-position: center;
}
.banner .main-wrapper{
	padding-top: 10rem;
    padding-bottom: 10rem;
}
.banner .main-wrapper h1,.banner .main-wrapper h5{
	color: #fff;
	font-family: Helvetica;
    margin-bottom: 5px;
}

.search-content{
	border: none;
    padding: 0px;
    margin: 20px 0px 0;
    border-radius: 5px;
    /* overflow: hidden; */
}
.bg-white {
    background-color: #fff;
}

.search-content .search-bar {
    border-right: 1px solid #b7b7b7;
    border-top: none;
    border-left: none;
    border-bottom: none;
    position: relative;

    padding: 0;
    margin: 9px 0;
    height: 32px;
    box-shadow: none!important;
    border-radius: 0;
    font-size: 15px;
    color: #333;
}
.search-content .search-bar input{
    background-image: url('../images/icons/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: var(--ms-px,2.3rem);
    padding-right: 20px;
}
.search-content .search-bar .multiselect-placeholder{
    padding-left: var(--ms-px,2.3rem);
}
.search-content .search-bar .multiselect-caret{
    display: none;
}

.search-content .location-bar {
    border: none;
    background-image: url('../images/icons/location-pin.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    box-shadow: none!important;
    padding-right: 20px;
    margin: 9px 12px;
    height: 32px;
}
.search-content button, .search-content button:hover{
	display: block;
    width: 100%;
    border-radius: 0 5px 5px 0;
    height: 51px;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

.no-gutters>.col, .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}







/* Home Page Services Section */

.explore-services .last-item{
	border-right:none !important;
}
.explore-services .service-box:nth-child(-n+4) {
    border-top-color: transparent;
    border-right-color: transparent;
}
.explore-services .service-box:nth-child(5){
	border-bottom-color: transparent;
}
.explore-services .service-box:nth-child(6){
	border-bottom-color: transparent;
}
.explore-services .service-box:nth-child(7){
	border-bottom-color: transparent;
}
.explore-services .service-box:nth-child(8){
	border-bottom-color: transparent;
}
.explore-services .service-box:nth-child(4n) {
    border-right-color: transparent;
}

.explore-services .service-box:nth-child(4n-3) {
    border-left-color: transparent;
}

.service-box{
	cursor: pointer;
	border: 0.5px solid rgba(205, 205, 205, 0.3);
	padding: 3rem 1.5rem;
}
.service-box img{
	height: 85px;
	filter: brightness(0%);
	cursor: pointer;
}
.service-box:hover img{
	filter: none;
}

.service-box h5{
	font-weight: 400;
	padding-top: 15px;
	font-size: 20px;
	color: #1d1d1d;
}
.service-box:hover h5{
	color: #783f83;
}








/* Deals Section */

.deals-section, .businesses-Near-you{
	background: #fefbff;
}
.deals-block{
	cursor: pointer;
	background: #fff;
	border: 1px solid #b9b9b9;
	padding: 2px;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    margin: 15px 0;
}
.deals-block:hover{
	border: 1px solid #6e317a;
	box-shadow:0 0 34px #6e317a6b;
}

.deals-list .thumb{
	position: relative;
}
.deals-list .mi-no{
	position: absolute;
    top: 15px;
    right: 15px;
    color: #000000;
    background: #ffffffc7;
    padding: 6px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255 / 55%);
    font-size: 13px;
}
.deals-list .price-tag{
	position: absolute;
    bottom: 15px;
    right: 15px;
    color: #000000;
    font-weight: 600;
    background: #ffffffd6;
    padding: 6px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255 / 55%);
    font-size: 15px;
}
.regular-price{
	color: #4c4c4c;
	text-decoration: line-through;
    margin-right: 5px;
    font-weight: 400;
    font-size: 14px;
}
.deals-list .thumb img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.deals-list .content{
	padding:16px;
}
.deals-list .title{
	font-size: 24px;
	color: #000000;
	margin: 0;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}
.deals-block:hover .deals-list .title{
	color: #6e317a;
}
.deals-list p{
	margin: 0;
	color: #757575;
}
/*.deals-block:hover .deals-list p{
	color: #000;
}
.see-all-button{
	text-align: center;
	margin-top: 20px;
}
.see-all-btn{
	color: #6e317a;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
*/








/*=========================== Announcement Section ===============================*/
.announcement-section{
	background-image:url('../images/icons/announcement-bg.jpg');
}
.announcement-section img{
	width: 150px;
}
.announcement-section .content, .announcement-section .businessList-btn{
	color: #fff;
}




/*=========================== Businesses Near You ===============================*/

.businesses-Near-you a{
	text-decoration: none;
}

.businesses-Near-you h3{
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #000;
	margin: 5px 0 0;
}
.businesses-Near-you a:hover h3{
	color: #6e317a;
}

.businesses-Near-you .rates-icon{
	padding: 0;
	margin: 0;
}
.businesses-Near-you .rates-icon li i{
	color: #fdb415;
}






/*=========================== Booking made easy ===============================*/
.BME .box {
    padding: 1px;
    background: linear-gradient(to top, #fff, #8d5c96);
    width: 100%;

}
.BME .box h3 {
    background: -webkit-linear-gradient(#f1d5f7, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.BME .box p{
	color: #626060;
	font-size: 15px;
}
.content-box{
	background-color: #fff;
	padding: 10px;
	min-height: 270px;
}


/*=========================== Queue from anywhere ===============================*/

.QFA .box {
    width: 225px;
    height: 225px;
    background: #fbe7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    margin:22px auto;
    margin-top: 40px;
    position: relative;
    padding: 12px;
}
.setup-1:after{
	content: "";
    background-image: url('../images/icons/setup-1.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    background-size: auto;
    height: 30px;
}
.setup-2:after{
	content: "";
    background-image: url('../images/icons/setup-2.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 47px;
    left: 100%;
    width: 100%;
    background-size: auto;
    height: 30px;
}
.setup-3:after{
	content: "";
    background-image: url('../images/icons/setup-3.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    background-size: auto;
    height: 30px;
}
.QFA .box p{
	line-height: 22px;
	font-size: 17px;
}

.QFA .box .icon {
    width: 120px;
    height: 120px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 50%;
    margin-top: -80px;
    margin-bottom: 10px;
}
.QFA .box .icon img {
    width: 60px;
}

/*=========================== Download Mobile App ===============================*/

.dowbload-app {
    background-color: #f5f5f5;
    background-image: url('../images/img/mobile.png');
	background-repeat: no-repeat;
    background-position: 95% 29px;
    padding: 0;
    background-size: 46% 87%;
}



/*@media (max-width:1280px) and (min-width:1000px) {


.search-bar-button {
    background: #fff;
    padding:0.85rem 0.5rem;
    box-shadow: 0 0 20px #33333336;
}
.search-bar-button img{
	width: 15px;
}
.dolar-sign span {
    padding: 4px 10px;
    border-left: 1px solid #a0a0a0;
    display: inline-block;
}
.search-bar-content .px-4 {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

}*/


/* For IPad  */ 
@media (max-width:990px) and (min-width:768px) {
	.menu-sidebar{
		display: none;
	}
	.title-block h1{
		font-size: 28px;
	}
	
	/* Header Css */
    .centered-nav li > a{
		margin: 0 !important;
		font-size: 13px;
	}
	/* Buttons */
	.btn-login{
		padding: 8px 10px;
	}
	.btn-signup{
		padding: 8px 25px;
	}

	/* Banner */
	.banner .main-wrapper{
		padding-top: 4rem;
    	padding-bottom: 4rem;
	}
	.search-content .location-bar,.search-content .search-bar{
		margin: 9px 12px;
	}
	.search-content button, .search-content button:hover{
		height: 51px;
	}


	/* Home Page Services Section */
	.service-box{
		padding: 1.5rem;
	}
	.service-box img{
		height: 65px;
	}
	.service-box h5{
		padding-top: 14px;
		font-size: 18px;
	}


	/* Deals */
	.deals-list p{
		font-size: 13px;
	}

	/* Announcement Section  */
	.announcement-section h2{
		font-size: 22px;
	}
	.announcement-section p{
		font-size: 13px;
	}
	.announcement-section .businessList-btn .btn-light{
		font-size: 13px;
	}


	/* Easy booking */
	.BME .box h3{
		font-size: 6rem;
	}
	.BME .box p{
		font-size: 14px;
	}

	/* Easu Queue */
	.setup-2:after{
		display: none;
	}

	.dowbload-app {
		background-image: none;
	}
}


/* For Phone */
@media (max-width:768px) and (min-width:200px) {
	.title-block h1{
		font-size: 20px;
	}
    .title-block h1 .see-all-button a{
        font-size: 12px;
    }
    .title-block h1 .see-all-button{
        margin-left: 15px;
    }
	section {
	    padding: 45px 0;
	}
	.search-box .search-bar {
    	border-right: none;
	}

	/* Banner */
	.banner .main-wrapper{
		padding-top: 1rem;
	    padding-bottom: 1rem;
	}

	.search-content .search-bar {
	    margin: 5px 0px;
	    font-size: 12px;
	}
	.banner .main-wrapper h1{
		font-size: 1.5rem;
	}

	/* Home Page Services Section */
	.service-box{
		padding: 12px;
	}
	.service-box img{
		height: 50px;
	}
	.service-box h5{
		padding-top: 14px;
		font-size: 14px;
	}
	.sort-by{
		background: #fff;
	    padding: 7px 12px;
	    border: 1px solid #ccc;
	    margin-top: 25px;
	}
    .flow-inner-div {
        width: 100%;
        height: 100%;
    }
    .services-form {
        width: 100%;
        margin: 0 auto;
    }

	/*.explore-services .service-box:nth-child(-n+4) {
	    border-top-color: transparent;
	    border-right-color: transparent;
	}
	.explore-services .service-box:nth-child(5){
		border-bottom-color: transparent;
	}
	.explore-services .service-box:nth-child(6){
		border-bottom-color: transparent;
	}
	.explore-services .service-box:nth-child(7){
		border-bottom-color: transparent;
	}
	.explore-services .service-box:nth-child(8){
		border-bottom-color: transparent;
	}
	.explore-services .service-box:nth-child(4n) {
	    border-right-color: transparent;
	}

	.explore-services .service-box:nth-child(4n-3) {
	    border-left-color: transparent;
	}*/

	.result-box {
	    background: #fff;
	    padding: 5px;
	    box-shadow: 0 0 12px #33333326;
	    display: block;
	    border-radius: 5px;
	    border: 1px solid #dcdcdc;
	    margin: 20px 0;
	}
	.salon-image {
	    width: 100%;
	    position: relative;
	}
	.salon-detail {
	    margin-left: 0;
	    padding: 14px 12px;
	}
	.explore-services .service-box:nth-child(3n+0){
		border-right-color:transparent;
		border-bottom-color: transparent;
	}
	.explore-services .service-box:first-child{
		border-left-color:transparent !important;
	}
	.explore-services .service-box:nth-child(4n-3) {
	    border-right-color: transparent;
	    border-left-color: rgba(205, 205, 205, 0.3);
	    border-top-color: transparent;
	}
	.explore-services .service-box:nth-child(4n) {
	    border-left-color: transparent;
	    border-right-color:rgba(205, 205, 205, 0.3);
	}
	.explore-services .service-box:nth-child(-n+4) {
	    border-top-color: transparent;
	    border-right-color: transparent;
	}
	.explore-services .service-box:nth-child(2n) {
	    border-right-color: transparent;
	}
	.explore-services .service-box:nth-last-child(-n+2) {
	    border-bottom-color: transparent;
	    border-left-color: transparent;
	}
	.explore-services .service-box:nth-last-child(-n+2) {
	    border-bottom-color: transparent;
	}
	.explore-services .service-box:nth-child(6) {
	    border-bottom-color: rgba(205, 205, 205, 0.3);
	}





	/* Deals Section */
	.deals-section .flex, .businesses-Near-you .flex{
		display: flex;
	    flex-wrap: nowrap !important;
	    overflow-x: scroll;
	}
	.deals-list .title{
		font-size: 20px;
	}
	.deals-list p{
		font-size: 12px;
	}

	/* Announcement Section  */
    .announcement-section img{
        width: 100px;
    }
	.announcement-section h2{
		font-size: 13px;
	}
	.announcement-section p{
		font-size: 10px;
	}
	.announcement-section .businessList-btn .btn-light{
		font-size: 11px;
	}
	.announcement-section .businessList-btn p{
		margin-bottom: 0;
	}

    .overview-section .salon-overview {
        padding: 0px;
        display: block;
        border-radius: 5px;
        margin: 20px 0;
    }
    .overview-section .salon-image {
        width: 100%;
        position: relative;
    }
    .overview-section .salon-detail {
        margin-left: 0;
        padding: 14px 0;
    }
    .sharing-section {
        padding: 17px 0;
        text-align: center;
    }
    .sharing-tb {
        margin: 0 5px;
    }
    .outling-button{
        padding: 10px 12px;
    }
    .queue-service {
        margin: 12px 0;
    }


	/* Easy booking */

	.BME .box h3{
		font-size: 6rem;
	}
	.BME .box p{
		font-size: 13px;
	}

	/* Easu Queue */
	.setup-1:after, .setup-2:after, .setup-3:after{
		display: none;
	}

    

	.dowbload-app {
		background-image: none;
	}

    .salon-image img{
        max-height: 250px;
    }
}


/* For Small Desktop Screen  */ 
@media (max-width:1200px) and (min-width:992px) {
	.banner .main-wrapper {
	    padding-top: 6rem;
	    padding-bottom: 6rem;
	}


	.BME .box h3{
		font-size: 6rem;
	}
	.BME .box p{
		font-size: 13px;
	}
    .sharing-tb {
    vertical-align: middle;
    display: inline-block;
    margin: 0 6px;
}
}